<% if @auth_token %>
  <h1><%= @auth_token.user.name %> - <%= @auth_token.api_device.name %></h1>
<% else %>
  <h1>NO AUTH TOKEN - <%= params[:token] %></h1>
<% end %>

<ul>
    <% @dates.each do |date| %>
        <li><a href="/diagnostics/<%= params[:token] %>/<%= date %>"><%= date %></a></li>
    <% end %>
</ul>
