<% if @auth_token %>
  <h1><%= @auth_token.user.name %> - <%= @auth_token.api_device.name %> / <%= params[:date] %> / <%= params[:file] %></h1>
<% else %>
  <h1>NO AUTH TOKEN - <%= params[:token] %> / <%= params[:date] %> / <%= params[:file] %></h1>
<% end %>

<% @blocks.each_with_index do |block, i| %>
    <h2>Block <%= i %></h2>
    <table>
        <tr>
            <th id="timestamp">timestamp</th>
            <th id="delta">delta</th>
            <th id="type">type</th>
            <th>value</th>
        </tr>
        <% block.entries.each_with_index do |entry, i| %>
            <tr>
                <td><%= entry.time.in_time_zone('Australia/Sydney').strftime('%d/%m/%y %l:%M:%S %p') %></td>
                <td><%= entry.raw_ts if i > 0 %></td>
                <td><%= entry.type %></td>
                <td>
                    <% if entry.printable_value? %>
                        <%= entry.value.to_s.force_encoding("UTF-8") %>
                    <% end %>
                    <% if entry.varint_value? %>
                        <%= entry.varint_value %>
                    <% end %>
                    <% if entry.float_value? %>
                        <%= entry.float_value %>
                    <% end %>
                    <% if entry.type == 'userActivityData' %>
                        <%= entry.user_activity_value.time.strftime('%H:%M:%S') %> <%= entry.user_activity_value.type_name %> (confidence: <%= entry.user_activity_value.confidence_name %>)
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
<% end %>
