<!-- GLASSES DETAIL CONTAINER-->
<!-- TODO: Remove assumption that only one device will be present -->
<% if @device %>
<div id="details-container">
    <img src="images/Ford_Black_Sunglasses.png" id="glasses-image"/><br/>

    <span id="connected-status"> <%= @device.state.titleize %> <div id="circle" class="<%= @device.state %>"></div> </span>  <br/><br/>

    <span id="seen-at">Seen at <%= @device.updated_at %></span>
</div>
<% end %>

<% if @device %>
  <div id="main-map" data-device="true" data-latitude="<%=@device.latitude%>" data-longitude="<%= @device.longitude %>"></div>
<% else %>
  <div id="main-map" data-device="false"></div>
<% end %>

<!-- JAVASCRIPT -->
<script>
$(document).on('tzukuri.page.load', function() {
  var device = $("#main-map").attr("data-device");

  // if device is not present, show the modal
  if (device == "false") {
    tzukuri.modal.show({
      modal: "#dashboard-empty-device-modal",
      dismissable: false,
      tint: "dark"
    })
  }

  // inject the map into the view
  tzukuri.map.inject({
    element: 'main-map',
    glassesLat: $("#main-map").attr("data-latitude"),
    glassesLon: $("#main-map").attr("data-longitude"),
    disableControls: false
  })

})
</script>
