<h1>Welcome to the dashboard</h1>


<% if !user_signed_in? %>
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email %>
        <%= f.password_field :password %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <%= f.submit 'Sign in' %>
        <%= link_to "Forgot your password?", new_password_path(:user) %>
    <% end %>
<% else %>

    <p>You are signed in as: <%= current_user.name %></p>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>

<% end %>