<!doctype html>
<html style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>

<body bgcolor="#f6f6f6" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; -webkit-font-smoothing: antialiased; height: 100%; -webkit-text-size-adjust: none; width: 100% !important; margin: 0; padding: 0;">

<!-- body -->
<table class="body-wrap" bgcolor="#f6f6f6" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 20px;">
  <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    <td class="container" bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; display: block !important; max-width: 600px !important; margin: 0 auto; padding: 20px; border: 1px solid #f0f0f0;">

      <!-- content -->
      <div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; display: block; max-width: 600px; margin: 0 auto; padding: 0;">
      <table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 0;">
        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
          <td style="text-align: center; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">


            <h1 style="text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 38px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 20px 0 10px; padding: 0;" align="center">T Z U K U R I</h1>

            <div style="margin-left: -20px; margin-right: -20px; padding-left: 50px; padding-right: 50px; padding-top: 20px; padding-bottom: 30px;">
              <h2 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 24px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 10px 0 20px; padding: 0; font-size:22px;">Thanks for your reservation</h2>
              <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0; color: #686868">We have reserved your place in line. You will receive another email from us when your card has been charged and your glasses are ready to ship.</p>
            </div>

            <%= image_tag "frames/#{@preorder.frame}/#{@preorder.frame}_black_#{@preorder.utility}.jpg", style: 'width: 50%; padding-bottom: 40px;' %>

          <div style="text-align: left; background-color: #C1CBCC; margin-left: -20px; margin-right: -20px; padding-left: 50px; padding-right: 50px; padding-top: 20px; padding-bottom: 30px;">
          <h2 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 24px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 10px 0 20px; padding: 0; font-size:22px;">Reservation Details</h2>
            <table width="100%" style="color: #686868; font-weight: 400; font-size: 10pt;">
              <tr>
                <td width="30%" style="font-weight: 500">Purchase Date</td>
                <td width="70%"><%= Date.today.strftime("%A, %d/%m/%Y") %></td>
              </tr>
              <tr>
                <td width="30%" style="font-weight: 500">Shipping Address</td>
                <td width="70%"><%= @preorder.formatted_address %></td>
              </tr>
              <tr>
                <td width="30%" style="font-weight: 500">Item</td>
                <td width="70%"><%= @preorder.formatted_item %></td>
              </tr>
              <tr>
                <td width="30%" style="font-weight: 500">Order ID</td>
                <td width="70%"><%= @preorder.id %></td>
              </tr>
              <tr>
                <td width="30%" style="font-weight: 500">Total</td>
                <td width="70%"><%= @preorder.total %> AUD</td>
              </tr>
              <tr>
                <td width="30%" style="font-weight: 500">Deposit taken</td>
                <td width="70%">85 AUD</td>
              </tr>
              <tr>
                <td width="30%" style="font-weight: 500">Remaining</td>
                <td width="70%"><%= @preorder.amount_remaining %> AUD</td>
              </tr>
            </table>
          </div>

          <div style="text-align: left; margin-left: -20px; margin-right: -20px; padding-left: 50px; padding-right: 50px; padding-top: 20px; padding-bottom: 20px;">
            <h2 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 24px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 10px 0 20px; padding: 0; font-size:22px;">Prescription</h2>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0; color: #686868">
              We will get in touch before your glasses are ready to ship to get your prescription. Please keep in mind that we can only fulfill single vision prescriptions at this time.
            </p>
          </div>

          <hr style="border: 0.5px solid #C1CBCC; margin-bottom:40px; opacity: 0.2">

           <center>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0; color: #686868">Thanks for shopping with us, if you have any questions, please get in touch by replying to this email.</a>.</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0; color: #686868">&copy; Tzukuri Pty. Ltd., 6 Lenthall Street, Kensington, 2033, NSW, Australia</p>
              </center>
          </td>
        </tr>
      </table>
      </div>
      <!-- /content -->

    </td>
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
  </tr>
</table>
<!-- /body -->


<style type="text/css">
img { max-width: 600px !important; width: 80%; margin: 0 auto}
body { -webkit-font-smoothing: antialiased !important; height: 100% !important; -webkit-text-size-adjust: none !important; width: 100% !important; }
</style>
</body>
</html>
