<%= stylesheet_link_tag 'users/passwords', media: 'all' %>

 <%= render 'layouts/site_header' %>

 <body>
   <div class="main">
     <div class="container panel" id="send-unlock">
       <h1>resend unlock instructions</h1>
       <p>Enter your email below to resend unlock instructions.</p>

       <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

          <%= f.label :email, "Email Address" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "john@tzukuri.com" %>

          <%= devise_error_messages! %>

          <%= f.submit "resend unlock instructions", id: "send_unlock" %>
       <% end %>

        <a href="/users/password/new">Forgot your password?</a>
     </div>
   </div>
 </body>

 <%= render 'layouts/site_footer' %>
