<div id="login-container">

  <h1 id="tzukuri-head">change your password</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%#= f.label :password, "New password" %>
<!--     <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %> -->
    <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "new password" %>
  </div>

  <div class="field">
<!--     <%= f.label :password_confirmation, "Confirm new password" %><br /> -->
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm new password" %>
  </div>

  <div class="actions">
    <%= f.submit "change my password", id: "change_password" %>
  </div>
<% end %>

<br/><br/>
<%= render "devise/shared/links" %>


</div>


<div id="main-map" class="blur"></div>

<!-- JAVASCRIPT -->
<script>
  // initialise mapbox
  L.mapbox.accessToken = 'pk.eyJ1Ijoic2FtdHp1a3VyaSIsImEiOiJjaW45cW9qc2QwYzNndHFsd2g4czRpM3ExIn0.BnJfjpwRj2E1cF2bqD42Xw';
  var map = L.mapbox.map('main-map').setView([-33.852222, 151.210556], 16);
  L.mapbox.styleLayer('mapbox://styles/samtzukuri/cin9rek1k00dhbckvr9fezhpl').addTo(map);

  // disable drag and zoom handlers
  map.touchZoom.disable();
  map.dragging.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();
  map.boxZoom.disable();
  map.keyboard.disable();

  // hide leaflet controls
  $(".leaflet-control-zoom").css("visibility", "hidden");
  $(".leaflet-control-attribution").css("visibility", "hidden");
</script>
