<div id="login-container">

  <h1 id="tzukuri-head">forgot password?</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: "email address" %>
    </div>

    <div class="actions">
      <%= f.submit "send password reset instructions", id: "password_reset" %>
    </div>
  <% end %>

    <br/><br/>
    <%= render "devise/shared/links" %>

</div>


<div id="main-map" class="blur"></div>

<!-- JAVASCRIPT -->
<script>
  // inject the map into the view
  tzukuri.map.inject({
    element: 'main-map',
    disableControls: true
  })
</script>
