<%= form_for :order, :url => variant_populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_dynamic_variant_product_cart_form">

    <% @product.option_types.each do |ot| %>
      <label class="text-uppercase"><%= ot.presentation %></label>
      <%= select("options", ot.id, ot.option_values.collect {|ov| [ ov.presentation, ov.id ] }) %>
    <% end %>

    <%= hidden_field_tag "product_id", @product.id %>

    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price">

        <!-- <div id="product-price">
          <div>
            <span class="price selling" itemprop="price">
              <p><%= display_price(@product) %></p>
            </span>
            <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
          </div>
        </div> -->

        <div class="add-to-cart">
          <%= number_field_tag :quantity, 1, :class => 'title', :min => 1, :style => "display: none" %>
          <%= button_tag :class => '', :id => 'add-to-cart-button', :style => 'width: 100%', :type => :submit do %>
            <%= Spree.t(:add_to_cart) %>
          <% end %>
        </div>
      </div>
    <% else %>
        <div id="product-price">
          <br>
          <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
        </div>
    <% end %>
  </div>
<% end %>
