<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <div id="product_show" class="u-full-width" data-hook="product_show" itemscope itemtype="https://schema.org/Product">
    <div class="container">
      <div class="row">
        <!-- gallery column -->
        <div class="seven columns" data-hook="product_left_part">
          <div id="product-images" data-hook="product_images">
            <!-- main product image -->
            <div id="main-image" style="text-align: center;" data-hook>
              <%= product_image(@product, itemprop: "image") %>
            </div>

            <!-- product image thumbnails -->
            <div id="thumbnails" data-hook>
              <%= render partial: 'thumbnails' %>
            </div>


          </div>
        </div>
        <!-- order input column -->
        <div class="five columns" data-hook="product_right_part">
          <div id="product-description" data-hook="product_description">
            <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

            <p id="price"><%= display_price(@product) %> <%= @product.currency %></p>

            <div id="product-description" itemprop="description" data-hook="description">
              <p><%= product_description(@product) %></p>
            </div>

            <div id="cart-form" data-hook="cart_form">
              <%= render partial: 'cart_form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- product detail -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" id="shipping-returns">
        <h2>Free shipping. Free returns.</h2>
        <p>We have a 20-day, no questions asked returns policy for all of our frames.</p> <p>Ship them back to us, or return them in store for a full refund.</p>
      </div>
    </div>
  </div>

  <%= render partial: 'layouts/whats_included' %>
  <%= render partial: 'layouts/tech_specs' %>

<% end %>
