<div id="beta-index" class="container" data-response-points="<%= Tzukuri::RESPONSE_POINTS %>" data-score="<%= @beta_user
.score.to_i %>" data-top-threshold="<%= @threshold %>" data-threshold-users="<%= Tzukuri::NUM_THRESHOLD_USERS %>">
  <% if beta_user_signed_in? %>

    <!-- order has been submitted -->
    <% if @beta_user.order? %>

      <div id="order-submitted-container">
        <h2>Thanks, you're all done!</h2>

        <p>We hope you're as excited as we are that you'll be one of the first people in the world to own a pair of <span class="bold">unloseable glasses</span>. You'll receive and email from us in the next few days confirming the next steps.</p>
        <br/><br/>

        <p>To make sure the beta process goes as smoothly as possible, here's a list of things to check before your new glasses arrive:</p>
        <br/><br/>

        <hr>

        <ul id="next-steps-list">
          <li>Make sure you have access to an <span class="bold">iPhone 5 or later</span> running the latest version of iOS (Go to Settings > General > Software Update and make sure it says 'Your software is up to date').</li>

          <li>Make sure you have an active Apple ID and you know your password.</li>

          <li>Download the <a href="https://itunes.apple.com/au/app/testflight/id899247664?mt=8">Testflight app</a> from the app store. We will use Testflight to distribute the Tzukuri app during our beta testing phase  (you'll receive more information about this later).</li>

          <li>Don't forget you can still invite your friends to join the beta with this link - <span class="blue">tzukuri.com/beta/invite/<%= @beta_user.invite_token %></span></li>

          <li>If you've got any questions about the beta or wish to change any of your details, get in touch at <a href="mailto:beta@tzukuri.com">beta@tzukuri.com</a>
        </ul>

      </div>

    <!-- user is selected but order has not been submitted -->
    <% elsif @beta_user.selected %>

    <div id="selected-container">
      <div id="selected-header">
        <h2>Congratulations, you're in.</h2>
      </div>

      <!-- i. select frame -->
      <div class="step-container row" id="step-frames">

        <div class="six columns select-frame">
            <%= image_tag 'frames/ive/black-front.png' %>
            <button class="cta next" data-frame='ive'>Ive</button>
        </div>

        <div class="six columns select-frame">
            <%= image_tag 'frames/ford-beta/black-front.png' %>
            <button class="cta next" data-frame='ford'>Ford</button>
        </div>
      </div>

      <!-- ii. select size -->
      <div class="step-container row hidden" id="step-size">

        <div class="select-size six columns">
          <button class="cta next" data-size="48" id="small">48mm</button>
          <p class="size-exp">this size will fit most people</p>
        </div>

        <div class="select-size six columns">
          <button class="cta next" data-size="50.5" id="large">50.5mm</button>
          <p class="size-exp">if most glasses are too small for you</p>
        </div>

        <br/><br/>
        <button class="prev">previous</button><button class="next">next</button>

      </div>

      <!-- iii. enter shipping details -->
      <div class="step-container row hidden" id="step-details">
            <div class="seven columns" id="glasses">
              <div class="row">
                <%#= image_tag 'frames/ive/black-front.png', class: 'checkout-img', id: 'ive-black' %>
                <%#= image_tag 'frames/ford-beta/black-front.png', class: 'checkout-img hidden', id: 'ford-black' %>
              </div>
              <div class="row">
                <div class="twelve columns" id="glasses-details">
                  <dl>
                      <dt>Frame</dt>
                      <dd id="frame-selection"></dd>
                      <br/>
                      <dt>Colour</dt>
                      <dd id="colour-selection">Black</dd>
                      <br/>
                      <dt>Size</dt>
                      <dd id="size-selection"></dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="five columns" id="shipping">
              <%= form_for BetaOrder.new, :url => beta_orders_path, :html => {:method => :post}, remote:true do |f| %>

                <%= f.text_field :address1, placeholder: 'address 1', autofocus: true %><br/>
                <%= f.text_field :address2, placeholder: 'address 2' %><br/>
                <%= f.text_field :state,    placeholder: 'state' %><br/>
                <%= f.text_field :postcode, placeholder: 'postcode' %><br/>
                <%= f.text_field :country,  placeholder: 'country' %><br/>
                <%= f.telephone_field :phone,    placeholder: 'phone number' %><br/>

                <%= f.hidden_field :frame %>
                <%= f.hidden_field :size %>

                <p id="error-messages"></p>

                <%= f.submit 'submit', id: 'submit-btn', class: 'disabled' %>
              <% end %>
            </div>
        <br/><br/>
        <button class="prev">previous</button><button class="next">next</button>
      </div>

      <div class="step-container row hidden" id="step-shipping-method">

        <div class="four columns">
          <button class="cta">ship</button>
        </div>

        <div class="four columns">
          <button class="cta">hand delivery</button>
        </div>

        <div class="four columns">
          <button class="cta">meetup</button>
        </div>

        <br/><br/>
        <button class="prev">previous</button>
      </div>

    </div>

    <!-- user has not been selected -->
    <% else %>
      <div id="finished-container">
        <h1>Beta applications are now closed.</h1>
        <!-- <h1>T Z U K U R I <span class="blue">[beta]</span> is complete... for now.</h1> -->
        <br/><br/>
        <p>Thank you for your interest in our beta program. If you're selected to participate, you'll receive an email from us in the coming days.
        <br/><br/>
        If you have any questions, please get in touch at <a href="mailto:beta@tzukuri.com">beta@tzukuri.com</a>.
      </div>
<!--       <div id='details-container'>

        <div class="row" id="user-detail-row">

          <div class="three columns" id="score-col">
            <div id="score-container">
              <span id="days-remain"></span>
            </div>
            <p id="days-remain-sub">days remaining</p>
          </div>

          <div class="nine columns" id="user-col">

            <div id="user-title">
              <h1 id="user-name"><%= @beta_user.name %></h1>
              <%= link_to "logout", destroy_beta_user_session_path, :id => 'logout', :method => :delete %>
            </div>

            <p id="increase-chance">To find the most passionate people, the <span class='bold'>top 100 users by points</span> will be selected to receive a pair of glasses for testing. Get more points by completing the tasks below.  <a href="#" id="need-help">Need help?</a></p>

            <div id="invite-link-container">
              <p>Share this link to earn <span class='bold'><%= Tzukuri::INVITEE_POINTS %> points</span> for every sign up</p>

              <input readonly id="link" value="tzukuri.com/beta/invite/<%= @beta_user.invite_token %>">

              <% if @num_invitees == 1 %>
                <p>1 person has used your invite</p>
              <% else %>
                <p><%= @num_invitees %> people have used your invite</p>
              <% end %>

            </div>
          </div>
        </div>

        <div class="row" id="connect-social-row">
          <div class="three columns">
            &nbsp;
          </div>
          <div class="nine columns">
            <hr>
            <p id="social-exp">Every social media account you connect earns you <span class="bold"><%= Tzukuri::IDENTITY_POINTS %> points</span></p>
            <div class="row">

              <div class="four columns social-col row">
                <div class="two columns social-icon">
                  <i class="fa fa-2x fa-instagram"></i>
                </div>
                <div class="ten columns">
                  <% if @beta_user.instagram? %>
                    <button class="connected">connected</button>
                  <% else %>
                    <%= link_to oauth_path(:instagram) do %>
                        <button>connect</button>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="four columns social-col row">
                <div class="two columns social-icon">
                  <i class="fa fa-2x fa-twitter"></i>
                </div>
                <div class="ten columns">
                  <% if @beta_user.twitter? %>
                    <button class="connected">connected</button>
                  <% else %>
                    <%= link_to oauth_path(:twitter) do %>
                        <button>connect</button>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="four columns social-col row">
                <div class="two columns social-icon">
                  <i class="fa fa-2x fa-facebook"></i>
                </div>
                <div class="ten columns">
                  <% if @beta_user.facebook? %>
                    <button class="connected">connected</button>
                  <% else %>
                    <%= link_to oauth_path(:facebook) do %>
                        <button>connect</button>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="answer-questions-row">
          <div class="three columns">
            &nbsp;
          </div>
          <div class="nine columns">
          <hr>

            <% if @answerable_questions.count > 0 %>
            <div class="row" id="question-header">
              <div class="nine columns">
                <p>Earn <span class="bold"><%= Tzukuri::RESPONSE_POINTS %> points</span> by answering this question</p>
              </div>

              <div class="three columns">
                <p id="skip" class="answer-sub <%= 'hidden' if @answerable_questions.count <= 1%>">skip question</p>
              </div>
            </div>
            <% end %>

            <div id="question-content">
              <p id="questions-complete" class="<%= 'hidden' if @answerable_questions.count != 0 %>">Thanks, you've answered all the survey questions &nbsp; 🎉</p>

              <% BetaQuestion.all.each do |question| %>

                <div class="question row" id="question_<%= question.id %>" data-answerable='<%= @answerable_questions.include?(question) ? 'true' : 'false' %>'>
                  <div class="four columns">
                    <p id="question-name"><%= question.content %></p>
                  </div>

                  <div class="eight columns">
                    <%= form_for BetaResponse.new, :url => beta_responses_path, :html => {:method => :post}, remote:true do |f| %>
                      <%= f.hidden_field :beta_question_id, value: question.id%>
                      <% question.response_options.each do |response| %>
                        <%= f.submit response %>
                      <% end %>
                    <% end %>
                  </div>

                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
 -->
    <% end %>

  <% else %>

  <!-- login container -->
  <div id="login-container" data-error="<%= 'true' if flash[:alert] %>">
    <h1>T Z U K U R I <span class="blue">[beta]</span></h1>
    <h2>Enter the email address you registered with to continue to the beta dashboard</h2>
    <%= form_for @beta_user, :url => beta_user_session_path(@beta_user) do |f| %>
      <%= f.email_field :email, placeholder: "email address", autofocus: true, class: "beta-input", autocomplete: 'off' %> <br/>
      <p id="error-messages"><%= flash[:alert] %></p>
      <%= f.hidden_field :invite_token, value: @token %><br/>
      <%= f.submit "continue", id:"submit-btn", class:"disabled" %>
    <% end %>
  </div>

  <% end %>
</div>
