<br>
<br>
<br>
<br>

<% if beta_user_signed_in? %>
  <p>Successfully signed in as <%= @beta_user.name %> </p>
  <br/><br/>
  <p>Email: <%= @beta_user.email %></p>
  <p>Invite Token: <%= @beta_user.invite_token %> </p>
  <br/>
  <%= link_to "logout", beta_users_sign_out_path, :method => :delete %>

<% else %>
  <%= form_for @beta_user, :url => beta_users_sign_in_path(@beta_user) do |f| %>
    <%= f.text_field :email, placeholder: "email address", autofocus: true %> <br/>
    <%= f.hidden_field :invite_token, placeholder: "invite code", value: @token %><br/>
    <%= f.submit "login"%>
  <% end %>
<% end %>
