<!-- used to join the beta program -->
<div id="beta-index" class="container">

    <% if @invited_by %>
      <!-- view allowing beta signup -->
      <div id="welcome-head">
        <h1>T Z U K U R I <span id="beta">[beta]</span></h1>
        <h2>You've been invited to join the Tzukuri beta by <span class="strong"><%= @invited_by.email %></span></h2>
      </div>

      <div id="signup-form-container">
        <%= form_for @beta_signup, :url => beta_signups_path, :html => { :method => :post}, remote: true do |f| %>
          <%= f.text_field :name, placeholder: "name", autofocus: true, class: "beta-input" %>
          <p id="name_error" class="error-field"></p>
          <%= f.email_field :email, placeholder: "email address", class: "beta-input" %>
          <p id="email_error" class="error-field"></p>
          <%= f.text_field :birth_date, placeholder: "birthday", class: "beta-input", autocomplete: "off" %>
          <p id="birthday_hint">example: 04/02/1994</p>
          <%= f.country_select :country, priority_countries: ["AU", "US", "CN", "GB"], include_blank: 'country'%>
          <p id="country_error" class="error-field"></p>
          <% if @invited_by %>
            <%= f.hidden_field :invited_by, value:@invited_by.invite_code%>
          <% end %>
          <%= f.submit "register", id: "submit-btn", class: "cta-button"%>
        <% end %>
      </div>

      <h2 id="register-conditions">By registering, you may be selected to receive one of the first 250 pairs produced. Want to know more? <a href="/faq#beta">Read our FAQ.</a></h2>

    <% else %>
      <!-- no valid user, so just display a marketing page -->
      <div id="invalid-invite">
        <!-- <% if @invite_code %> The invite code you provided is invalid, please try again with a different code. <% end %> -->
      </div>

      <div class="row">
        <div class="six columns" id="beta-content">
          <h1> T Z U K U R I <span id="beta">[beta]</span></h>
          <p>Later this month, we're shipping out free pairs of glasses to beta testers all over the world. To apply to be a beta tester, you'll have to be invited by someone who is already in our beta program.</p>
          <p>We'll be selecting beta testers based on the number of friends they have invited and their location.</p>
          <div id="faq-link">
            <a href="/faq#beta">Want to know more? Read our FAQ</a>
          </div>
        </div>
        <div class="six columns" id="beta-hero">
          <!-- todo: rotating images of glasses like in app -->
          <%= image_tag 'frames/ive/black-front.png', class: 'beta-hero-image' %>
        </div>
      </div>
    <% end %>
</div>

<script>
  $(document).ready(function(){

    // hook for new_beta_signup form
    $('#new_beta_signup').on('ajax:success', function(e, data) {
      if (data.success) {
        //  redirect to the page for this signup
        window.location.replace("/beta/" + data.beta_signup.invite_code);
      } else {
        // handle errors on this form
        handleErrors(this, data.errors, data.error_messages);
      }
    }).on('ajax:error', function(e, data) {
      $("#form-errors").html("An unknown error occurred, please try again.")
    });

    // prevent any keys which aren't numbers or '/'
    $('#beta_signup_birth_date').on('keypress', function(e) {
      if (e.metaKey) return;
      if ((e.which < 48 || e.which > 57) && e.which != 47) {
          e.preventDefault();
      }
    })

    $('#beta_signup_birth_date').on('input', function(e) {
      var DATE_REGEX = /^\d{2}[/]\d{2}[/]\d{4}$/

      var input = $(this).val()
      var hint = $("#birthday_hint").text()
      var hintText = "example: 04/02/1994"
      var m = moment(input, "DD/MM/YYYY")

      if (DATE_REGEX.test(input)) {
        if (m.isValid()) {
          var d = m.format("dddd, MMMM Do YYYY")
          $("#birthday_hint").fadeOut(function() {
            $(this).text(d).toggleClass("success")
            $("#beta_signup_birth_date").removeClass("error")
          }).fadeIn()
        }
      } else if (hint != hintText) {
        $("#birthday_hint").fadeOut(function() {
          $(this).text(hintText).removeClass("success")
        }).fadeIn()
      }
    });

  });

  // todo: make this able to handle any error messages
  function handleErrors(form, errors, error_messages) {
    // make sure all error classes are removed
    $(form).find(':input').removeClass("error")

    // clear out all the error fields
    $(".error-field").html("")

    // add any error classes and populate error fields
    $.each(errors, function(error, val) {
      $("#beta_signup_" + error).addClass("error")
      var f = "#" + error + "_error";
      $(f).html(error + " " + val[0])
    })
  }
</script>
