<div id="beta-index" class="container">
  <% if beta_user_signed_in? %>
    <% if @beta_user.order? %>
      <!-- user has an order associated with their account so show their confirmation UI -->
      <div id="order-submitted-container">
        <h2>Thanks, you're all done.</h2>

        <p id="welcome">

          You've joined the Tzukuri beta program, you should receive a confirmation email shortly.

          <% if !@beta_order.delivery_time.nil? %>
            Your scheduled personal fitting details are below.
          <% else %>
            You'll receive an email from us when your glasses have shipped.
          <% end %>
          <br/><br/>
          If you've got any questions, please get in touch at <a href="mailto:beta@tzukuri.com">beta@tzukuri.com</a>.
        </p>

        <% if !@beta_order.delivery_time.nil? %>
          <div id="personal-delivery" data-time="<%= @beta_order.delivery_time %>" data-address="<%= @beta_order.full_address %>">
            <hr/>
            <h3>Personal Fitting Details</h3>
            <p class="delivery-detail"><%= @beta_order.address1 %>, <%= @beta_order.address2 %></p>
            <p class="delivery-detail"><%= @beta_order.delivery_time.to_time.strftime("%A, %B %d at %l:%M %p") %></p>
            <p id="expect-call">Please expect to receive a call from one of our team members at your delivery time.</p>
          </div>
        <% end %>
      </div>
    <% elsif @beta_user.selected %>
      <!-- user has been selected but has not submitted an order, show the ordering UI -->
      <%= render 'beta/partials/order' %>
    <% else %>
      <!-- user has not been selected, show them the beta finished UI -->
      <div id="finished-container">
        <h1>Beta applications are now closed.</h1>
        <br/><br/>
        <p>Thank you for your interest in our beta program. If you're selected to participate, you'll receive an email from us in the coming days.
        <br/><br/>
        If you have any questions, please get in touch at <a href="mailto:beta@tzukuri.com">beta@tzukuri.com</a>.
      </div>

      <!-- uncomment to reactive the dashboard -->
      <%#= render 'beta/partials/dashboard' %>
    <% end %>
  <% else %>
      <!-- the user isn't logged in so show the login form -->
      <div id="login-container" data-error="<%= 'true' if flash[:alert] %>">
        <h1>T Z U K U R I <span class="blue">[beta]</span></h1>
        <h2>Enter the email address you registered with</h2>
        <%= form_for @beta_user, :url => beta_user_session_path(@beta_user) do |f| %>
          <%= f.email_field :email, placeholder: "email address", autofocus: true, class: "beta-input", autocomplete: 'off' %> <br/>
          <p id="error-messages"><%= flash[:alert] %></p>
          <%= f.hidden_field :invite_token, value: @token %><br/>
          <%= f.submit "continue", id:"submit-btn", class:"disabled" %>
        <% end %></div>
  <% end %>
</div>
