<% content_for :javascript_includes do %>
    <script src="/static/booking.min.js"></script>
<% end %>

<div id="beta-index" class="container" data-response-points="<%= Tzukuri::RESPONSE_POINTS %>" data-score="<%= @beta_user
.score.to_i %>" data-top-threshold="<%= @threshold %>" data-threshold-users="<%= Tzukuri::NUM_THRESHOLD_USERS %>">
  <% if beta_user_signed_in? %>

    <!-- order has been submitted -->
    <% if @beta_user.order? %>

      <div id="order-submitted-container">
        <h2>Thanks, you're all done.</h2>

        <p id="welcome">

          You've joined the Tzukuri beta program, you should receive a confirmation email shortly.

          <% if !@beta_order.delivery_time.nil? %>
            Your scheduled personal fitting details are below.
          <% else %>
            You'll receive an email from us when your glasses have shipped.
          <% end %>
          <br/><br/>
          If you've got any questions, please get in touch at <a href="mailto:beta@tzukuri.com">beta@tzukuri.com</a>.
        </p>

        <% if !@beta_order.delivery_time.nil? %>
          <div id="personal-delivery" data-time="<%= @beta_order.delivery_time %>" data-address="<%= @beta_order.full_address %>">
            <hr/>
            <h3>Personal Fitting Details</h3>
            <p class="delivery-detail"><%= @beta_order.address1 %>, <%= @beta_order.address2 %></p>
            <p class="delivery-detail"><%= @beta_order.delivery_time.to_time.strftime("%A, %B %d at %l:%M %p") %></p>
            <p id="expect-call">Please expect to receive a call from one of our team members at your delivery time.</p>
          </div>
        <% end %>
      </div>

    <!-- user is selected but order has not been submitted -->
    <% elsif @beta_user.selected %>
      <div id="selected-container">
      <!-- 0 - intro -->
      <div class="step-container" id="step-intro">
        <h2>Congratulations, you're in.</h2>
        <p>Welcome to the Tzukuri beta program. We hope you're as excited as we are that you'll be one of the first in the world to own a pair of unlosable sunglasses 😎.</p>
        <button id="get-started" class="order-btn next">Get started  &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button>

        <p id="disclaimer">By continuing you agree that you have an <span class="bold">iPhone 5 or later</span> running the <span class="bold">latest version of iOS.</span></p>
      </div>

      <div class="step-container hidden" id="step-accept">
        <div class="selected-header">
          <h2>Personal Fitting and Your Role</h2>
          <div class="row">
            <div class="six columns" id="delivery">
              <p style="font-weight: 500; font-size: 14pt; line-height: 200%; margin-bottom: 10px;">Personal Fitting</p>
              <p>To help you get started, we’re offering a personal fitting service to any address within 15km of the Sydney CBD. A Tzukuri team member will help you try on and select the pair you like, and assist with the set up of the app.</p>
              <br/>
              <p>If you're not within 15km, your glasses will be shipped to you.</p>
            </div>
            <div class="six columns" id="expectations">
              <p>Your Role</p>
              <ul>
                <li>Respond to our weekly surveys.</li>
                <li>Report any bugs that you encounter.</li>
                <li>Report any general feedback or feature requests that you have.</li>
                <li>Send in results of tasks you will be asked to complete.</li>
                <li>Always keep up to date with the latest version of the app.</li>
                <li>We may contact you at any time by email if we feel you could help us with any other questions.</li>
              </ul>
            </div>
          </div>

            <button class="order-btn next">
                Accept and continue &nbsp;&nbsp;<i class="fa fa-chevron-right"></i>
            </button>
            <br/>
            <button class="prev order-btn">
              <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;back
            </button>

        </div>

      </div>

      <!-- 1 - select frame -->
      <div class="step-container hidden" id="step-frames">
        <div class="selected-header">
          <h2>Choose your frames</h2>
        </div>
        <div class="row">
          <div class="six columns select-frame">
              <%= image_tag 'frames/ive/black-front.png', class: "frame-img"%>
              <button class="order-btn next" data-frame='ive'>Ive</button>
          </div>

          <div class="six columns select-frame">
              <%= image_tag 'frames/ford-beta/black-front.png', class: "frame-img"%>
              <button class="order-btn next" data-frame='ford'>
                <span class="btn-title">Ford</span>
              </button>
          </div>
        </div>
        <p>Don’t worry if you pick the wrong one, you can finalise your choice at your Personal Fitting.</p>

        <br/><br/>
        <button class="prev order-btn">
           <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;back
        </button>
      </div>

      <!-- 2 - select size -->
      <div class="step-container hidden" id="step-size">
        <div class="selected-header">
          <h2>Choose your size</h2>
        </div>

        <div class="row step-content">
          <div class="select-size">
            <button class="order-btn next" data-size="48" id="small">48mm</button>
            <p class="size-exp">This size will fit most people.</p>
          </div>
          <div class="select-size">
            <button class="order-btn next" data-size="50.5" id="large">50.5mm</button>
            <p class="size-exp">Choose this size if most glasses are too small for you.</p>
          </div>
        </div>

        <button class="prev order-btn">
          <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;back
        </button>
      </div>

      <!-- 3 - enter shipping details -->
      <div class="step-container hidden" id="step-details">
        <div class="selected-header">
          <h2>Enter delivery details</h2>
        </div>

        <div class="row">
        <p id="try-on">If your address is within 15km of the Sydney CBD you'll be eligible for Personal Fitting.</p>
        </div>

        <div class="row step-content">
          <div class="seven columns" id="glasses">
            <div class="row">
              <%= image_tag 'frames/ive/black-front.png', class: 'checkout-img', id: 'ive-black' %>
              <%= image_tag 'frames/ford-beta/black-front.png', class: 'checkout-img hidden', id: 'ford-black' %>
            </div>
            <div class="row">
              <div class="twelve columns glasses-details">
                <dl>
                  <dt>Frame</dt>
                  <dd id="frame-selection"></dd>
                  <br/>
                  <dt>Size</dt>
                  <dd id="size-selection"></dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="five columns" id="shipping">
            <%= form_for BetaOrder.new, :url => beta_orders_path, :html => {:method => :post}, remote:true do |f| %>
            <%= f.text_field :shipping_name, placeholder: 'Full name', autofocus: true %><br/>
            <%= f.text_field :address1, placeholder: 'Street name, number, etc.' %><br/>
            <%= f.text_field :address2, placeholder: 'City, suburb, etc.' %><br/>
            <%= select_tag   :state, options_for_select(['NSW', 'ACT', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA' ]) %><br/>
            <%= f.text_field :postcode, placeholder: 'Postcode', maxlength: 4 %><br/>
            <%= f.text_field :country,  placeholder: 'country', value: 'Australia', disabled: true %><br/>
            <%= f.telephone_field :phone,    placeholder: 'Mobile number' %><br/>
            <p id="error-messages"></p>
            <% end %>
            <button id="shipping-continue" class="order-btn next">continue&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button>
            <div class="loading-spinner"></div>
          </div>
        </div>

        <button class="prev order-btn">
          <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;back
        </button>
        <br/><br/>
      </div>

      <!-- 4 - select a shipping method (optional) -->
      <div class="step-container hidden" id="step-shipping-method">
        <div class="selected-header">
          <h2>Choose a delivery method</h2>
        </div>

        <div class="row step-content">
          <div class="select-shipping">
            <button class="order-btn next" data-delivery="0">Standard Shipping</button>
            <p class="method-exp">Your glasses will be sent to your delivery address with a courier.</p>
          </div>
          <div class="select-shipping">
            <button class="order-btn next" data-delivery="1">Personal Fitting</button>
            <p class="method-exp">A member of the Tzukuri team will personally deliver your glasses and help you get set up.</p>
          </div>
        </div>

        <button class="prev order-btn">
          <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;back
        </button>
      </div>

      <!-- 5 - select a timeslot (optional) -->
      <div class="step-container hidden" id="step-timeslot">
        <div class="selected-header">
          <h2>Schedule a Personal Fitting</h2>
        </div>

        <p id="booking-time"><span id="date"></span><span id="time">Choose an available time from the list below</span></p>
        <button id="timeslot-continue" class="next order-btn" style="display: none">continue&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button>

        <div id="bookingjs"></div>

        <button class="prev order-btn">
          <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;back
        </button>
      </div>

      <!-- 6 - enter payment information -->
      <div class="step-container hidden" id="step-payment">
        <div class="selected-header">
          <h2>Review your order</h2>
        </div>

        <div class="row step-content">
          <div class="twelve columns">
            <div class="row">
              <%= image_tag 'frames/ive/black-front.png', class: 'checkout-img', id: 'conf-ive-black' %>
              <%= image_tag 'frames/ford-beta/black-front.png', class: 'checkout-img hidden', id: 'conf-ford-black' %>
            </div>
            <div class="row">
              <div class="twelve columns glasses-details">
                <dl>
                  <dt>Frame</dt>
                  <dd id="conf-frame"></dd>
                  <br/>
                  <dt>Size</dt>
                  <dd id="conf-size"></dd>
                  <br/>
                  <dt>Deliver To</dt>
                  <dd id="conf-address"></dd>
                  <br/>
                  <dt>Delivery</dt>
                  <dd id="conf-shipping"></dd>
                  <br/>
                  <dt style="display: none" id="conf-timeslot-header">Time</dt>
                  <dd style="display: none" id="conf-timeslot">1:00PM Wednesday August 9</dd>
                </dl>
              </div>
            </div>
            <button class="order-btn finish" id="place-order">place order</button>
            <p id="payment-message"></p>
          </div>
          <!-- <div class="five columns" style="margin-top: 40px;"> -->
              <!-- <button class="order-btn finish">place order</button> -->
<!--             <p>You will be charged a <span class="bold">$99 AUD</span> fully-refundable deposit. <a href="#" id="delivery-more">Learn more.</a></p>
            <br/> -->
<!--             <form id="payment-form">
              <div id="cc">
                <p><input type="text" data-stripe="number" placeholder="credit card number"></p>
                <p>
                  <select name="month" style="width: 32%" data-stripe="exp-month">
                    <option value="1">Jan (01)</option>
                    <option value="2">Feb (02)</option>
                    <option value="3">Mar (03)</option>
                    <option value="4">Apr (04)</option>
                    <option value="5">May (05)</option>
                    <option value="6">Jun (06)</option>
                    <option value="7">Jul (07)</option>
                    <option value="8">Aug (08)</option>
                    <option value="9">Sep (09)</option>
                    <option value="10">Oct (10)</option>
                    <option value="11">Nov (11)</option>
                    <option value="12">Dec (12)</option>
                  </select>
                  <select name="year" style="width: 32%" data-stripe="exp-year">
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                  </select>
                  <input type="text" placeholder="CVC" data-stripe="cvc" style="width: 32%">
                </p>
              </div>
              <br/>
              <div id="submit">
                <button type="submit" class="order-btn finish">finish</button>
                <div id="payment-message"></div>
              </div>
            </form> -->
          <!-- </div> -->
        </div>

        <button class="prev order-btn">
          <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;back
        </button>
      </div>

    <!-- user has not been selected -->
    <% else %>
      <div id="finished-container">
        <h1>Beta applications are now closed.</h1>
        <!-- <h1>T Z U K U R I <span class="blue">[beta]</span> is complete... for now.</h1> -->
        <br/><br/>
        <p>Thank you for your interest in our beta program. If you're selected to participate, you'll receive an email from us in the coming days.
        <br/><br/>
        If you have any questions, please get in touch at <a href="mailto:beta@tzukuri.com">beta@tzukuri.com</a>.
      </div>

      <!--       <div id='details-container'>

        <div class="row" id="user-detail-row">

          <div class="three columns" id="score-col">
            <div id="score-container">
              <span id="days-remain"></span>
            </div>
            <p id="days-remain-sub">days remaining</p>
          </div>

          <div class="nine columns" id="user-col">

            <div id="user-title">
              <h1 id="user-name"><%#= @beta_user.name %></h1>
              <%#= link_to "logout", destroy_beta_user_session_path, :id => 'logout', :method => :delete %>
            </div>

            <p id="increase-chance">To find the most passionate people, the <span class='bold'>top 100 users by points</span> will be selected to receive a pair of glasses for testing. Get more points by completing the tasks below.  <a href="#" id="need-help">Need help?</a></p>

            <div id="invite-link-container">
              <p>Share this link to earn <span class='bold'><%#= Tzukuri::INVITEE_POINTS %> points</span> for every sign up</p>

              <input readonly id="link" value="tzukuri.com/beta/invite/<%#= @beta_user.invite_token %>">

              <#% if @num_invitees == 1 %>
                <p>1 person has used your invite</p>
              <#% else %>
                <p><%#= @num_invitees %> people have used your invite</p>
              <%# end %>

            </div>
          </div>
        </div>

        <div class="row" id="connect-social-row">
          <div class="three columns">
            &nbsp;
          </div>
          <div class="nine columns">
            <hr>
            <p id="social-exp">Every social media account you connect earns you <span class="bold"><%#= Tzukuri::IDENTITY_POINTS %> points</span></p>
            <div class="row">

              <div class="four columns social-col row">
                <div class="two columns social-icon">
                  <i class="fa fa-2x fa-instagram"></i>
                </div>
                <div class="ten columns">
                  <%# if @beta_user.instagram? %>
                    <button class="connected">connected</button>
                  <%# else %>
                    <%#= link_to oauth_path(:instagram) do %>
                        <button>connect</button>
                    <%# end %>
                  <%# end %>
                </div>
              </div>
              <div class="four columns social-col row">
                <div class="two columns social-icon">
                  <i class="fa fa-2x fa-twitter"></i>
                </div>
                <div class="ten columns">
                  <%# if @beta_user.twitter? %>
                    <button class="connected">connected</button>
                  <%# else %>
                    <%#= link_to oauth_path(:twitter) do %>
                        <button>connect</button>
                    <%# end %>
                  <%# end %>
                </div>
              </div>
              <div class="four columns social-col row">
                <div class="two columns social-icon">
                  <i class="fa fa-2x fa-facebook"></i>
                </div>
                <div class="ten columns">
                  <%# if @beta_user.facebook? %>
                    <button class="connected">connected</button>
                  <%# else %>
                    <%#= link_to oauth_path(:facebook) do %>
                        <button>connect</button>
                    <%# end %>
                  <%# end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="answer-questions-row">
          <div class="three columns">
            &nbsp;
          </div>
          <div class="nine columns">
          <hr>

            <%# if @answerable_questions.count > 0 %>
            <div class="row" id="question-header">
              <div class="nine columns">
                <p>Earn <span class="bold"><%#= Tzukuri::RESPONSE_POINTS %> points</span> by answering this question</p>
              </div>

              <div class="three columns">
                <p id="skip" class="answer-sub <%#= 'hidden' if @answerable_questions.count <= 1%>">skip question</p>
              </div>
            </div>
            <%# end %>

            <div id="question-content">
              <p id="questions-complete" class="<%#= 'hidden' if @answerable_questions.count != 0 %>">Thanks, you've answered all the survey questions &nbsp; 🎉</p>

              <%# BetaQuestion.all.each do |question| %>

                <div class="question row" id="question_<%#= question.id %>" data-answerable='<%#= @answerable_questions.include?(question) ? 'true' : 'false' %>'>
                  <div class="four columns">
                    <p id="question-name"><%#= question.content %></p>
                  </div>

                  <div class="eight columns">
                    <%#= form_for BetaResponse.new, :url => beta_responses_path, :html => {:method => :post}, remote:true do |f| %>
                      <%#= f.hidden_field :beta_question_id, value: question.id%>
                      <%# question.response_options.each do |response| %>
                        <%#= f.submit response %>
                      <%# end %>
                    <%# end %>
                  </div>

                </div>
              <%# end %>
            </div>

          </div>
        </div>
      </div>
      -->

    <% end %>

  <!-- login -->
  <% else %>
      <!-- login container -->
      <div id="login-container" data-error="<%= 'true' if flash[:alert] %>">
        <h1>T Z U K U R I <span class="blue">[beta]</span></h1>
        <h2>Enter the email address you registered with</h2>
        <%= form_for @beta_user, :url => beta_user_session_path(@beta_user) do |f| %>
          <%= f.email_field :email, placeholder: "email address", autofocus: true, class: "beta-input", autocomplete: 'off' %> <br/>
          <p id="error-messages"><%= flash[:alert] %></p>
          <%= f.hidden_field :invite_token, value: @token %><br/>
          <%= f.submit "continue", id:"submit-btn", class:"disabled" %>
        <% end %>
      </div>
  <% end %>
</div>
