<br>
<br>
<br>
<br>

<% if beta_user_signed_in? %>
  <p>Successfully signed in as <%= @beta_user.name %> </p>
  <br/><br/>
  <p>Email: <%= @beta_user.email %></p>
  <p>Invite Token: <%= @beta_user.invite_token %> </p>
  <p>Score: <%= @beta_user.score %></p>
  <br/>

  <% if @beta_user.twitter? %>
    Already linked to twitter account
  <% else %>
    <%= link_to 'Sign in with Twitter', oauth_path(:twitter) %>
  <% end %>
  <br/>

  <% if @beta_user.facebook? %>
    Already linked to facebook account
  <% else %>
    <%= link_to 'Sign in with Facebook', oauth_path(:facebook) %>
  <% end %>
  <br/>

  <%if @beta_user.instagram? %>
    Already linked to instagram account
  <% else %>
    <%= link_to 'Sign in with Instagram', oauth_path(:instagram) %><br/>
  <% end %>
  <br/><br/>

  <%= link_to "logout", beta_users_sign_out_path, :method => :delete %>

<% else %>
  <%= form_for @beta_user, :url => beta_users_sign_in_path(@beta_user) do |f| %>
    <%= f.text_field :email, placeholder: "email address", autofocus: true %> <br/>
    <%= f.hidden_field :invite_token, value: @token %><br/>
    <%= f.submit "login"%>
  <% end %>
<% end %>
