<div id="beta-invite" class="container" data-error="<%= 'true' if flash[:notice] %>">
  <div class="twelve columns" style="padding-bottom: 40px;">
      <h1>T Z U K U R I <span class="blue">[beta]</span></h1>
      <br/>
      <% if !@invited_by.nil? %>
        <h2>invited by <%= @invited_by.name %></h2>
      <% end %>
  </div>

  <% if @invited_by.nil? %>
    <!-- if the invite code is invalid -->
    <p style="line-height: 180%; font-size: 12pt;">
      This <span class="bold">invite link is invalid and cannot be used</span> to register for the Tzukuri beta, please double check that it has been entered correctly. If you think you're receiving this in error, please send an email to <a href="mailto:beta@tzukuri.com">beta@tzukuri.com</a>.
    </p>
    <br/><br/>
    <a href="http://tzukuri.com">&larr; Go back</a>
  <% else %>
  <div class="row">
    <div class="six columns" id="register-details">
      <p id="beta-blurb">

      <span class="para">
      We are selecting 100 users to experience and test the product for the first time. More information about Tzukuris can be found <a href="#">here</a>.
      </span>

      <span class="para">
      If you are selected as a beta tester, you will be an integral part in making sure the product is ready for its public release. To say thank you for participation, you will be allowed to keep the glasses at the end of the 8 week testing period.
      </span>

      <span class="para">
      The first beta pairs are expected to be shipped out late July 2016.
      </span>

      <span class="bold">Beta Requirements</span>
      <ul id="requirements">
        <li>iPhone 5 or newer</li>
        <li>iOS 9.0 or later</li>
        <li>Australian resident</li>
        <li>Over 18 years old</li>
        <li>Respond to weekly email surveys</li>
        <li>Report any issues that you encounter</li>
      <ul>
      </p>
    </div>

    <div class="six columns" id="register-form">
      <%#= image_tag 'frames/Ive_Tortoise_Sunglasses.png', class: 'beta-hero-image', style: 'width:55%; padding-bottom:20px;' %>

      <%= form_for @beta_user, :url => beta_user_registration_path(@beta_user) do |f| %>
      <%= f.text_field :name, placeholder: "name", autofocus: true, autocomplete: 'off', class: "beta-input" %> <br>
      <%= f.email_field :email, placeholder: "email address", autocomplete: 'off', class: "beta-input" %> <br/>

      <%= f.text_field :birth_date, placeholder: "birth date", class: "beta-input", autocomplete: 'off' %>
      <p id="birthday_hint">dd/mm/yyyy</p>

      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>

      <%= f.text_field :city, class: "beta-input", placeholder: "city" %>

      <%= f.hidden_field :invite_token, value: @token %><br/>
      <%= f.submit "register", class: "disabled", id: "register-btn" %>
      <% end %>

      <% if flash[:notice] %>
        <p id="form-error" class="error">There was a problem with the information you provided. Please try again.</p>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
