<div id="beta-invite">

  <div class="container">

    <div class="row" id='beta-hero'>
      <div class="six columns" id='detail-col'>
        <h1 id="unloseable-glasses">Unloseable glasses.</h1>
        <h2 id="almost-here">Almost here.</h2>
        <p  id="blurb">
        1 in 2 people lose their glasses every year, contributing to an esimated 76k tonnes of plastic and metal into the environment. Are you one of them?
        <br/><br/>
        Register for an opportunity to help us test the world's first unloseable glasses before they're avaliable to the public.
        </p>

        <% if !@invited_by.nil?%>
        <div id="registration" class="row">
          <div class="six columns">
            <button id="register-now">register now</button>
          </div>

          <div class="six columns">
            <% if !flash[:notice].nil? %>
            <p id="error">
              <%= flash[:notice].join(', ') %>
            </p>
            <% end %>
          </div>
        </div>
        <% end %>

        <%= image_tag '10RF_20150921_TZKR (2002).jpg', id: 'glasses-hero' %>
         <%= image_tag 'beta/screenshot.png', id: 'phone-mobile' %>
      </div>

      <div class="six columns" id='phone-col'>
        <%= image_tag 'beta/phone-hand-black.png', id: 'hand-phone' %>

        <video id="phone-video" autobuffer controls autoplay >
          <source type="video/mp4" src= <%= video_path 'beta/tzukuri_beta_recording_baseline.mp4' %>/>
        </video>
        <%#= video_tag "tzukuri_beta_recording_5.mp4", id: 'phone-video', :autobuffer => true, :autoplay => true, :type => 'video/mp4', :controls => true %>
      </div>
    </div>
  </div>

  <div class="container">

  <div class="row feature-detail">
    <h1>Unloseable.</h1>
    <p>Always leaving your glasses behind? Your iPhone alerts you when you do and it will guide you right back. Lost your glasses in your house? Tzukuri tells you how far away they are and even what room they were last seen in.<br/><a href="#">Learn more about our technology</a>.</p>
  </div>

  <div class="row glasses-image">
    <div class="six columns">
      <%= image_tag 'beta/ford-tort.png' %>
      <p>Ford | Tortoise Shell</p>
    </div>
    <div class="six columns">
      <%= image_tag 'beta/ford-black.png' %>
      <p>Ford | Black</p>
    </div>
  </div>

  <div class="row feature-detail">
    <h1>Beautiful.</h1>
    <p>Our frames are handmade in Sydney, using techniques inspired by the finest Japanese artisans. Japanese precision equipment and high quality acetates make of a pair of glasses unparalleled in beauty and durability. <br/><a href="#">Learn more about our design</a>.</p>
  </div>

  <div class="row glasses-image">
    <div class="six columns">
      <%= image_tag 'beta/ive-tort.png' %>
      <p>Ive | Tortoise Shell</p>
    </div>
    <div class="six columns">
      <%= image_tag 'beta/ive-black.png' %>
      <p>Ive | Black</p>
    </div>
  </div>

  <div class="row feature-detail" style="padding-bottom: 60px;">
    <h1>Beta Overview.</h1>

    <ul>
      <li>If selected, you will receive a pair of glasses, you will be allowed to keep the glasses at the end of the testing period.</li>
      <li>You will be expected to report any issues you have with the product and respond to weekly email surveys during the test period.</li>
      <li>You must own an <span class='bold'>iPhone 5 or later</span> running <span class='bold'>iOS 9.0 or later</span>.</li>
      <li>You must be an <span class='bold'>Australian resident</span> who is <span class='bold'>at least 18 years old</span>.</li>
    </ul>
  </div>

  </div>

</div>
