<div class="container" style="text-align: center; margin-top:100px;">
  <% if beta_user_signed_in? %>
    user is signed in, not displaying sign up form
  <% else %>
    <p>You've been invited to register for the Tzukuri Beta by <%= @invited_by.name %></p>
    <br/><br/>

    <%= form_for @beta_user, :url => beta_user_registration_path(@beta_user) do |f| %>
      <%= f.text_field :name, placeholder: "name", autofocus: true %> <br>
      <%= f.text_field :email, placeholder: "email address"%> <br/>
      <%= f.hidden_field :invite_token, value: @token %><br/>
      <%= f.submit "register"%>
    <% end %>

    <%= flash[:notice] %>
  <% end %>
</div>
