<div id="beta-invite">

  <div class="container">

    <div class="row" id='beta-hero'>
      <div class="six columns" id='detail-col'>
        <h1 id="unloseable-glasses">Unloseable sunglasses.</h1>
        <h2 id="almost-here">Almost here.</h2>
        <p  id="blurb">
        1 in 2 people lose their glasses every year, contributing to an esimated 76k tonnes of plastic and metal into the environment. Are you one of them?
        <br/><br/>

        <% if @invited_by.nil? %>
          To be able to register, you'll need to be invited by someone who has already registered for the beta.
        <% else %>
          Register for an opportunity to help us test the world's first unloseable sunglasses before they're available to the public. <a href="#" id="eligible">Find out more.</a>
        <% end %>
        </p>

        <% if !@invited_by.nil?%>
        <div id="registration" class="row">
          <div class="six columns">
            <button class="register-now">register now</button>
          </div>

          <div class="six columns">
            <% if !flash[:notice].nil? %>
            <p id="error">
              <%= flash[:notice].join(', ') %>
            </p>
            <% end %>
          </div>
        </div>
        <% end %>

        <%= image_tag 'beta/10RF_20150921_TZKR (2002).jpg', :id => 'glasses-hero', :class => @invited_by.nil? ? "no-invite" : "invite" %>
        <%= image_tag 'beta/screenshot.png', id: 'phone-mobile' %>
      </div>

      <div class="six columns" id='phone-col'>
        <%= image_tag 'beta/phone-hand-pink.png', id: 'hand-phone' %>

        <%= video_tag 'tzukuri_beta_recording_baseline.mp4', :id => 'phone-video', :autobuffer => true, :autoplay => true %>
      </div>
    </div>
  </div>
<!--
  <div class="container">

  <div class="row feature-detail">
    <h1>Unloseable.</h1>
    <p>Always leaving your glasses behind? Your iPhone alerts you when you do and it will guide you right back. If you've lost your glasses in your house Tzukuri tells you how far away they are and even what room they were last seen in.<br/><a href="/technology">Learn more about our technology</a>.</p>
  </div>

  <div class="row glasses-image">
    <div class="six columns">
      <%= image_tag 'beta/ive-black.png' %>
      <p>Ive</p>
    </div>
    <div class="six columns">
      <%= image_tag 'beta/ford-black.png' %>
      <p>Ford</p>
    </div>
  </div>

  <div class="row feature-detail">
    <h1>Beautiful.</h1>
    <p>Our frames are handmade in Sydney, using techniques inspired by the finest Japanese artisans. Japanese precision equipment and high quality acetates make of a pair of glasses unparalleled in beauty and durability. <br/><a href="/design">Learn more about our design</a>.</p>
  </div>

  <div class="row feature-detail" style="padding-bottom: 60px;">
    <h1>Beta Overview.</h1>

    <ul>
      <li>If selected, you will receive a pair of sunglasses, you will be allowed to keep the sunglasses at the end of the testing period.</li>
      <li>You will be expected to report any issues you have with the product and respond to weekly email surveys during the test period.</li>
      <li>You must own an <span class='bold'>iPhone 5 or later</span> running <span class='bold'>iOS 9.0 or later</span>.</li>
      <li>You must be an <span class='bold'>Australian resident</span> who is <span class='bold'>at least 18 years old</span>.</li>
    </ul>

    <% if !@invited_by.nil? %>
      <br/><br/>
      <button class="register-now">register now</button>
    <% end %>
  </div> -->

  </div>

</div>
