<!-- used the view stats about a person who has already signed up -->
<main>
  <article id="beta-show">

    <div class="container">

        <% if @beta_signup %>
            <div class="twelve columns" id="registration-email">
                <%= @beta_signup.email %>

                <% if @invited_by %>
                    <p>invited by <%= @invited_by.email %></p>
                <% end %>

                <!-- <p>You have registered for the Tzukuri Beta</p> -->
            </div>

            <div class="twelve columns" id="registration-details">
            <!-- VIEW SIGNUP DETAILS [SUCCESS STATE] -->
                <% if !@rank %>
                    <h1>Congratulations! You've been selected. </h1>
                <% elsif @rank == 0 %>
                    <h1>Congrats, you're the first in line &nbsp; 😎</h1>
                <% elsif @rank == 1 %>
                    <h1><%= @rank %> person is ahead of you </h1>
                <% else %>
                    <h1><%= @rank %> people are ahead of you </h1>
                <% end %>
            </div>

            <div class="twelve columns" id="social-details">
                <p id="priority-head">Really want a pair?</p>
                <p id="priority-content">Beta participants will be selected based on the number of friends they invite. The more friends you get to sign up, the better the chances are for both of you.</p>

                <div class="row" id="social-content">
                    <div class="one-third column">
                        <button class="social-button">
                            <i class="fa fa-twitter" aria-hidden="true"></i> &nbsp; tweet
                        </button>
                    </div>
                    <div class="one-third column">
                        <button class="social-button">
                            <i class="fa fa-facebook" aria-hidden="true"></i> &nbsp; share
                        </button>
                    </div>
                    <div class="one-third column">
                        <button class="social-button">
                            <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; email
                        </button>
                    </div>
                </div>

                <% if @beta_signup %>
                    <div id="share-link">
                        or share this link: &nbsp;
                        <input disabled value="http://<%= request.url.split("/")[2] %>/beta?ref=<%= @beta_signup.invite_code%>">
                    </div>
                <% end %>
            </div>

            <% else %>
                <!-- todo: do something with an invalid code -->

                <% if @invite_code != "forgot" %>
                    <span id="invalid-code">Looks like the code you provided is invalid!</span><br/><br/>
                <% end %>
            <% end %>
    </div>
  </article>

</main>

