<%= stylesheet_link_tag 'pages/book-try-on', media: 'all' %>
<%= javascript_include_tag 'pages/book-try-on', :defer => "defer" %>
<script type="text/javascript" src="https://calendly.com/assets/external/widget.js"></script>

<%= render 'layouts/action_bar', type: 'cant-decide' %>

<div class="main">
  <div class="panel u-full-width" id="book-now">
    <div class="container">
      <div id="gate">
        <h1>book your personal try on</h1>
        <h2>can't decide? try them on</h2>
        <%= form_tag '/tryon/validate', remote: true, id: 'try-form' do |f| %>
            <label for="interest_name">Full Name</label>
            <%= text_field_tag :name, nil, placeholder: "John Smith", autofocus: true %>

            <label for="interest_email">Email Address</label>
            <%= text_field_tag :email, nil, placeholder: 'example@tzukuri.com' %>

            <label for="interest_city">Closest City</label>
            <%= select_tag :city, options_for_select(["Sydney", "Melbourne", "Brisbane", "Perth", "Adelaide", "Canberra", "Darwin", "Hobart", "Other"]) %>

            <p class="messages error"></p>

            <%= button_tag(type: 'submit', id: 'interest-submit', class: 'alternate') do %>
                book now &nbsp; &rarr;
            <% end %>

        <% end %>
      </div>

      <div id="calendly">
      </div>

      <div id="coming-soon">
        <h1>coming soon...</h1>
        <br/><br/>
        <p>Thanks for expressing your interest in a personal try on. Currently, we're only available in Sydney. You'll be the first to know when we come to your city.</p>
      </div>
    </div>
  </div>

  <div class="container"><hr/></div>

  <div class="panel container" id="faq">
    <div class="row">
      <h1>frequently asked questions</h1>
    </div>

    <div class="row">
      <div class="six columns">
        <p class="bold">Will there be an opportunity to purchase the glasses?</p>
        <p>At the end of the try on there will be an opportunity to purchase a pair.</p>
        <p class="bold">Is there any obligation to purchase a pair?</p>
        <p>No, there is no obligation to purchase a pair during your personal fitting.</p>
        <p class="bold">How long does it take?</p>
        <p>Personal try on should take no longer than 20 minutes.</p>
        <p class="bold">Is this the only way to purchase a pair of Tzukuris?</p>
        <p>Buying eyewear online is hard, which is why we're offering personal try on. However, if you know what you want, you can buy a pair <a href="/buy">here</a>.</p>
      </div>
      <div class="six columns">
        <p class="bold">How will I know when you arrive?</p>
        <p>One of the Tzukuri team will give you a call five minutes prior to your try on to let you know how far away they are.</p>
        <p class="bold">Can I invite others to my try on?</p>
        <p>Of course! You can invite as many people as you'd like. As long as someone is there to meet us, we'll show them the glasses.</p>
        <p class="bold">Does it cost anything to schedule a try on?</p>
        <p>No, there is no charge for scheduling a try on.</p>
        <p class="bold">I have another question</p>
        <p>Please get in touch with us <a href="/contact-us">here</a>.</p>
      </div>
    </div>
  </div>

</div>
