<%= stylesheet_link_tag 'pages/buy', media: 'all' %>
<%= stylesheet_link_tag 'layouts/action_bar', media: 'all' %>
<%= javascript_include_tag 'layouts/action_bar', :defer => "defer" %>

<%= render 'layouts/action_bar' %>

<div class="main">

  <!-- store header -->
  <div class="panel container" id="store-head">
    <h1><span style="white-space: nowrap">Free Shipping.</span> <span style="white-space: nowrap">Prescriptions $100.</span></h1>
    <h2 class="h-sm">Free returns for 20 days.</h2>
  </div>

  <!-- frame selection -->
  <div class="panel container" id="purchase">
    <div class="row">
      <div class="six columns frame-col">
        <div id="ive-sun">
          <%= image_tag 'frames/ive/ive_black_sun.jpg' %>
          <p class="frame-name">Ive &middot; Sun</p>
          <p class="frame-detail">Matte Black &middot; from $385 AUD</p>
          <a href="/ive-sun"><button class="alternate tz-track" data-category="buy" data-event="ive-sun-select">select</button></a>
        </div>

        <div id="ive-optical">
          <%= image_tag 'frames/ive/ive_black_optical.jpg'  %>
          <p class="frame-name">Ive &middot; Optical</p>
          <p class="frame-detail">Matte Black &middot; from $385 AUD</p>
          <a href="/ive-optical"><button class="alternate tz-track" data-category="buy" data-event="ive-optical-select">select</button></a>
        </div>
      </div>

      <div class="six columns frame-col">

        <div id="ford-sun">
          <%= image_tag 'frames/ford/ford_black_sun.jpg' %>
          <p class="frame-name">Ford &middot; Sun</p>
          <p class="frame-detail">Matte Black &middot; from $385 AUD</p>
          <a href="/ford-sun"><button class="alternate tz-track" data-category="buy" data-event="ford-sun-select">select</button></a>
        </div>

        <div id="ford-optical">
          <%= image_tag 'frames/ford/ford_black_optical.jpg' %>
          <p class="frame-name">Ford &middot; Optical</p>
          <p class="frame-detail">Matte Black &middot; from $385 AUD</p>
          <a href="/ford-optical"><button class="alternate tz-track" data-category="buy" data-event="ford-optical-select">select</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
