<%= stylesheet_link_tag 'pages/buy', media: 'all' %>

<%= javascript_include_tag 'pages/buy', :defer => "defer" %>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<div class="main">

  <!-- store header -->
  <div class="panel container" id="store-head">
    <h1>Tzukuri online store</h1>
    <h2 class="h-sm">pick the perfect pair</h2>
  </div>

  <!-- frame selection -->
  <div class="panel container" id="purchase">
    <div class="row">
      <div class="six columns frame-col">
        <%= image_tag 'frames/ive/ive_black_optical.jpg'  %>
        <br/><br/>
        <p class="frame-name">Ive</p>
        <p class="frame-detail">Matte Black &middot; 485 AUD</p>
        <button id="buy-ive">buy now</button>
      </div>
      <div class="six columns frame-col">
        <%= image_tag 'frames/ford/ford_black_optical.jpg' %>
        <br/><br/>
        <p class="frame-name">Ford</p>
        <p class="frame-detail">Matte Black &middot; 485 AUD</p>
        <button id="buy-ford">buy now</button>
      </div>
      <!-- <div class="four columns">
        <div class="purchase-opt">
          <h2>Tzukuri Store</h2>
          <p>If you'd like to check out the glasses in person, come to our first retail store.</p>
          <button class="alternate">directions &nbsp; &rarr;</button>
        </div>

        <div class="purchase-opt">
          <h2>Still can't decide?</h2>
          <p>Leave your email with us and we'll be in touch to help you with your purchase.</p>
          <button class="alternate">enter email &nbsp; &rarr;</button>
        </div>
      </div> -->
    </div>
  </div>

  <!-- checkout -->
  <div class="panel container" id="checkout">
    <div class="row">
      <!-- order details -->
      <div class="six columns" id="order-details">
        <a href="#" id="checkout-back">&larr; &nbsp; back to frame selection</a><br/><br/><br/>

        <%= image_tag 'frames/ford/ford_black_optical.jpg', id:'Ford-Optical', class:'glasses' %>
        <%= image_tag 'frames/ford/ford_black_sun.jpg', id: 'Ford-Sun', class: 'glasses' %>

        <%= image_tag 'frames/ive/ive_black_optical.jpg', id:'Ive-Optical', class: 'glasses' %>
        <%= image_tag 'frames/ive/ive_black_sun.jpg', id: 'Ive-Sun', class: 'glasses' %>

        <dl id="order-desc">
          <dt>Frame:</dt>
          <dd id="frame"></dd>
          <br>
          <dt>Utility:</dt>
          <dd id="utility"></dd>
          <br>
          <dt>Lens:</dt>
          <dd id="lens"></dd>
          <br>
          <div id="total-price">
            <dt>Total:</dt>
            <dd id="total-selection">485 AUD</dd>
          </div>
        </dl>

        <p>Includes complementary Australia-wide shipping.</p>

      </div>

      <div class="six columns">
        <div id="order-form">
        <form id="glasses-form">
          <p class="section-head">Glasses Information</p>

          <div id="utility-group">
            <label>Lens Type</label>
            <select id="utility-select">
              <option selected disabled hidden>- SELECT -</option>
              <option>Optical</option>
              <option>Sun</option>
            </select>
          </div>

          <div id="size-group">
            <label>Size</label>
            <select id="size-select">
              <option selected disabled hidden>- SELECT -</option>
              <option value="49">49mm</option>
              <option value="51.5">51.5mm</option>
            </select>
          </div>

          <div id="lens-group-optical">
            <label>Lens Type</label>
            <select id="lens-select-optical">
              <option selected disabled hidden>- SELECT -</option>
              <option>Non-Prescription</option>
              <option>Prescription Reading</optical>
              <option>Prescription Distance</optical>
            </select>
          </div>

          <div id="lens-group-sun">
            <label>Lens Type</label>
            <select id="lens-select-sun">
              <option selected disabled hidden>- SELECT -</option>
              <option>Non-Prescription</option>
              <option>Prescription</optical>
            </select>
          </div>

          <div id="prescription-group">
            <label>How will we get your prescription?</label>
            <select id="prescription-select">
              <option selected disabled hidden>- SELECT -</option>
              <option>I will email it to hello@tzukuri.com</option>
              <option>Please call me to discuss</option>
            </select>
          </div>
        </form>

        <%= form_for Preorder.new, :html => {:method => :post}, remote:true do |f| %>

        <p class="section-head">Contact information</p>

        <%= label :purchase, :name, "Full Name" %>
        <%= f.text_field :name, placeholder: 'John Smith', autofocus: true %>

        <%= label :purchase, :email, "Email Address" %>
        <%= f.text_field :email, placeholder: 'john@tzukuri.com' %>

        <%= label :purchase, :phone, "Contact Number" %>
        <%= f.telephone_field :phone,    placeholder: '04XX XXX XXX' %>

        <p class="section-head">Shipping information</p>

        <%= label :purchase, :address1, "Address" %>
        <%= f.text_field :address1, placeholder: 'Street name, number, etc.' %>

        <%= label :purchase, :postcode, "Postal Code"  %>
        <%= f.text_field :postal_code, placeholder: '1234', maxlength: 4 %>

        <%= label :purchase, :state, "State"%>
        <%= f.select :state, options_for_select: ['New South Wales', 'ACT', 'Victoria', 'Northern Territory', 'Queensland', 'South Australia', 'Tasmania', 'Western Australia'] %>

        <%= label :purchase, :country, "Country" %>
        <%= f.text_field :country,  placeholder: 'country', value: 'Australia', disabled: true %>

        <% end %>

        <form id="payment-form">
          <p class="section-head" style="padding-top: 15px;">Payment information</p>

          <div id="cc">
              <label for="">Credit Card Number</label>
              <input id="payment_ccNumber" name="number" type="text" data-stripe="number" placeholder="4000 0566 5566 5556">

              <label ford="">Expiry Date</label>
              <select name="month" style="width: 49%" data-stripe="exp-month">
                <option value="1">Jan (01)</option>
                <option value="2">Feb (02)</option>
                <option value="3">Mar (03)</option>
                <option value="4">Apr (04)</option>
                <option value="5">May (05)</option>
                <option value="6">Jun (06)</option>
                <option value="7">Jul (07)</option>
                <option value="8">Aug (08)</option>
                <option value="9">Sep (09)</option>
                <option value="10">Oct (10)</option>
                <option value="11">Nov (11)</option>
                <option value="12">Dec (12)</option>
              </select>

              <select name="year" style="width: 49%" data-stripe="exp-year">
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
                <option>2026</option>
              </select>

              <label for="">Security Code</label>
              <input id="payment_cvv" name="CVV" type="text" placeholder="Security code" data-stripe="CVV">
          </div>

          <button id="reserve-submit" type="submit" class="order-btn">
            <span id="reserve-for">purchase for 485 AUD</span>
          </button>
        </form>

        <div id="submit-spinner" class="loader" style="display:none"></div>
        <p id="error-messages"></p>
      </div>

        <div id="order-complete">
          <p>Thank you for purchasing your Tzukuris. You should receive an order confirmation shortly.</p>
          <p>If you have any questions, please <a href="/contact-us">get in touch</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container"><hr/></div>

  <!-- whats in the box -->
  <div class="container contracted" id="in-the-box">
    <div class="row">
      <div class="ten columns" style="text-align:left;">
        <h1>what's included</h1>
      </div>
      <div class="two columns" style="text-align:right;">
        <i class="fa fa-plus" id="in-the-box-toggle"></i>
      </div>
    </div>

    <div class="row">
      <div class="four columns">
        <%= image_tag 'glasses.png', id: 'unlosable' %>
      </div>
      <div class="four columns">
        <%= image_tag 'microfibre.png', id: 'cloth' %>
      </div>
      <div class="four columns">
        <%= image_tag "dock_cable.png", id: 'charge' %>
      </div>
    </div>

    <div class="row">
        <div class="four columns">
          <p class=>Unlosable Glasses</p>
        </div>
        <div class="four columns">
          <p>Microfibre Cloth</p>
        </div>
        <div class="four columns">
          <p>Charger & Cable</p>
        </div>
      </div>
  </div>

  <div class="container"><hr/></div>

  <!-- tech specs -->
  <div class="container contracted" id="specifications">
    <div class="row">
      <div class="ten columns" style="text-align:left;">
        <h1>technical specifications</h1>
      </div>
      <div class="two columns" style="text-align:right;">
        <i class="fa fa-plus" id="tech-specs-toggle"></i>
      </div>
    </div>

    <div class="row">
      <div class="four columns">
        <!--  whats included -->
        <article>
          <p class="bold">What's Included</p>
          <ul>
            <li>Unlosable glasses</li>
            <li>Charging cable</li>
            <li>Charging dock</li>
            <li>Microfibre cleaning cloth</li>
            <li>Documentation</li>
          </ul>
        </article>

        <!-- battery and power -->
        <article>
          <p class="bold">Battery and Power</p>
          <p>
            Battery life up to 30 days. Battery life and charge cycles vary with use, settings, and other factors; actual results will vary. The Tzukuri app will notify you when your glasses require charging.
          </p>
          <ul>
            <li>Battery type: Silver Oxide</li>
            <li>Charge time: Three to four hours</li>
          </ul>
        </aticle>
      </div>
      <div class="four columns">
        <!-- care -->
        <article>
          <!-- <h2>Care</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvinar fringilla mi in sodales. Sed lacinia turpis non quam blandit, ac semper tortor auctor. Ut at lacus ut metus mattis molestie. Quisque lectus velit, egestas vel laoreet ut, euismod vitae eros.</p> -->
        </article>

        <!-- materials -->
        <article>
          <p class="bold">Materials</p>
          <ul>
            <li>Frames: High quality, precision-milled cellulose acetate.</li>
            <li>Non-Prescription Sun: Brown polarised, hand cut, 100% UV protection.</li>
            <li>Prescription Sun: Brown polarised single vision, hand cut, 100% UV protection, back anti-reflective coating, hard coat.</li>
            <li>Prescription Optical: single vision, hand cut, back anti-reflective coating, hard coat.</li>
          </ul>
        </article>

        <!-- environmental requirements -->
        <article>
          <p class="bold">Environmental Requirements</p>
          <ul>
            <li>Operating temperature: -10° to 45° C</li>
            <li>Maximum operating altitude: 9,144 m</li>
          </ul>
        </article>
      </div>
      <div class="four columns">


        <!-- syncing and notifications -->
        <article>
          <p class="bold">Bluetooth and Notifications</p>
          <p>Each pair of Tzukuris connect to your iPhone using wireless Bluetooth Low Energy. Some features will require you to grant access to Location Services, Notifications and Motion & Fitness to function correctly. </p>
          <ul>
            <li>Bluetooth range: Up to 15m</li>
            <li>Requires iPhone 5 or later running iOS 9 and above.</li>
            <li>Compatible with: iPhone 5, iPhone 5C, iPhone SE, iPhone 6, iPhone 6 Plus, iPhone 6s, iPhone 6s Plus, iPhone 7, iPhone 7 Plus</p>
          </ul>
        </article>
      </div>
    </div>
  </div>

  <br/>
</div>

<script>
    // set the stripe keys
    <% if Rails.env.development? %>
        Stripe.setPublishableKey('pk_test_HWxqGZq4R2zTKm5915tgDas4');
    <% else %>
        Stripe.setPublishableKey('pk_live_VAzrbCZ5hRh2i3tXpoS9GL5I');
    <% end %>
</script>
