  <!-- if the user is authenticated, display the regular dashboard -->
  <% if user_signed_in? %>
    <div id="user-info">
      <%= current_user.email %>
      <ul>
        <li>Design: <%= current_user.devices.first.design %> </li>
        <li>Colour: <%= current_user.devices.first.colour %></li>
        <li>Latitude: <%= current_user.devices.first.latitude %></li>
        <li>Longitude: <%= current_user.devices.first.longitude %></li>
      </ul>

      <br/>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    </div>

  <!-- otherwise, display the login overlay -->
  <% else %>
    <div id="login-container">
      <h1 id="tzukuri-head">T Z U K U R I</h1>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email, :placeholder => "email address" %>
        <%= f.password_field :password, :placeholder => "password" %>
        <br/>
          <%= f.submit 'sign in', :id => "sign_in" %>
        <br/><br/>
        <%= link_to "Forgot your password?", new_password_path(:user), :id => 'forgot_password' %>
      <% end %>
    </div>
  <% end %>

<div id="main-map" class="<%= 'blur' if !user_signed_in? %>"></div>

<script>
  L.mapbox.accessToken = 'pk.eyJ1Ijoic2FtdHp1a3VyaSIsImEiOiJjaW45cW9qc2QwYzNndHFsd2g4czRpM3ExIn0.BnJfjpwRj2E1cF2bqD42Xw';
  var map = L.mapbox.map('main-map', '', {zoomControl: false}).setView([-33.852222, 151.210556], 15);
  L.mapbox.styleLayer('mapbox://styles/samtzukuri/cin9rek1k00dhbckvr9fezhpl').addTo(map);

  // disable drag and zoom handlers
  map.dragging.disable();
  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();
  map.keyboard.disable();
</script>
