<%= stylesheet_link_tag 'pages/design-and-range', media: 'all' %>

<div class="main">

  <div class="panel" id="designed">
    <div class="container">

      <div class="row">
        <h1>designed for life</h1>
        <h2 class="h-sm">inspired by the human eye</h2>
        <p>Our two frame shapes mimic the human eye's field of vision. This minimises visual obstruction when looking straight ahead.</p>
      </div>

      <hr id="model-divider"/>

      <div class="row">
        <div class="six columns" id="ive">
          <h1>Ive</h1>
          <p class="quote">'Different is easy, better is hard.' <span class="bold">Jonathan Ive</span></p>
          <%= image_tag 'frames/ive/ive_black_optical_flat.png' %>
          <p class="spec">Optical</p>

          <%= image_tag 'frames/ive/ive_black_sun_flat.png' %>
          <p class="spec">Sun</p>
        </div>

        <div class="six columns" id="ford">
          <h1>Ford</h1>
          <p class="quote">'Any colour - so long as it's black' <span class="bold">Henry Ford</span></p>
          <%= image_tag 'frames/ford/ford_black_optical_flat.png' %>
          <p class="spec">Optical</p>

          <%= image_tag 'frames/ford/ford_black_sun_flat.png' %>
          <p class="spec">Sun</p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel thin" id="interesting-info">
    <div class="container">
      <p class="bold">the human eye</p>
      <%= image_tag 'icons/eye.png' %>
      <p>The human eye is the most complex sense organ, made up of 30 separate identifiable components. It can detect up to 10 million colours and as little as a single photon.</p>
    </div>
  </div>


  <div class="panel" id="balancing-act">
    <div class="container">
      <%= image_tag 'glasses/ive-profile-charger.jpg' %>

      <h1>balancing act</h1>
      <h2 class="h-sm">for supreme comfort</h2>
      <p>By weighting the back of the glasses with electronics we pivot the frame off your nose so they feel lighter and are less likely to leave pesky red marks.</p>
    </div>
  </div>

  <div class="container"><hr/></div>

  <div class="panel" id="cta">
    <div class="container">
      <h1>buy a pair today</h1>
      <h2 class="h-sm">your very own unlosable glasses</h2>
      <a href="/try-them-on"><button class="tz-track" data-category="buy-now" data-event="click">buy now &nbsp; &rarr;</button></a>
    </div>
  </div>

</div>
