<%= stylesheet_link_tag 'pages/form', media: 'all' %>

<div class="main">

  <div class="panel" id="designed">
    <div class="container">

      <div class="row">
        <h1>designed for life</h1>
        <h2 class="h-sm">inspired by the human eye</h2>
        <p style="width:50%; margin: 0 auto">Our two frame shapes mimic the human eye's field of vision. When looking straight ahead there should be minimal visual obstruction.</p>
      </div>

      <hr/>

      <div class="row" id="ive">
        <h1>Ive</h1>
        <!-- <h2 class="h-sm">In honour of <a href="">Sir Jonathan Ive</a></h2> -->
        <p class="quote">'The memory of how we work will endure beyond the products of our work' <span class="bold">Sir Jonathan Ive</span></p>
        <!-- <p class="model-named">In honour of Sir Jonathan Ive  Chief Design Officer</p> -->
        <!-- <p class="model-named">'The memory of how we work will endure beyond the products of our work'</p> -->
        <%= image_tag 'frames/ive/ive_black_optical' %>
        <p class="spec">Optical</p>
        <p class="spec">48mm &#9633; 21</p>

        <%= image_tag 'frames/ive/ive_black_sun' %>
        <p class="spec">Sun</p>
        <p class="spec">48mm &#9633; 21</p>
      </div>

      <hr/>

      <div class="row" id="ford">
        <h1>Ford</h1>
        <p class="quote">'Any colour - so long as it's black' <span class="bold">Henry Ford</span></p>
        <%= image_tag 'frames/ford/ford_black_optical' %>
        <p class="spec">Optical</p>
        <p class="spec">49/51.5mm &#9633; 21</p>

        <%= image_tag 'frames/ford/ford_black_sun' %>
        <p class="spec">Sun</p>
        <p class="spec">49/51.5mm &#9633; 21</p>

      </div>

    </div>
  </div>

  <div class="panel" id="balancing-act">
    <div class="container">
      <%= image_tag 'Tzukuri2987_2' %>

      <h1>balancing act</h1>
      <p style="font-weight: 300">for supreme comfort</p>
      <p style="padding-top: 20px; width:50%; margin: 0 auto">By weighting the back of the glasses with electronics we pivot the frame off your nose so they feel lighter and are less likely to leave pesky red marks.</p>
    </div>
  </div>

</div>
