<%= stylesheet_link_tag 'pages/function', media: 'all' %>

<div class="main">

  <div class="panel" id="most-useful">
    <div class="container">
      <h1>eyewear for the twenty first century</h1>
      <h2 class="h-sm">the most useful pair of glasses you'll ever own</h2>
      <%= image_tag 'Tzukuri3061_1.jpg', style: 'width: 85%' %>
    </div>
  </div>

  <!-- timely intelligence -->
  <div class="panel" id="timely-intelligence">
    <div class="container">
      <h1>timely intelligence</h1>
      <h2 class="h-sm">served by the Tzukuri iOS app</h2>

      <div class="row">
        <div class="four columns" id="remember">
          <%= image_tag 'app_screenshot_home.png' %>
          <p>Remembers where you left your glasses.</p>
        </div>
        <div class="four columns" id="notification">
          <%= image_tag 'app_screenshot_notification.png' %>
          <p>Lets you know when you've left your glasses behind.</p>
        </div>
        <div class="four columns" id="distancing">
          <%= image_tag 'app_screenshot_locate.png' %>
          <p>Calculates the distance to your glasses.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- beautifully light -->
  <div class="panel" id="beautifully-light">
    <div class="container">
      <h1>beautifully light</h1>
      <h2 class="h-sm">handmade in Sydney</h2>
      <p>Even with 39 electronic components hidden inside, every pair weighs just 26.5 grams and is superbly comfortable to wear all day long.</p>
      <%= image_tag 'glasses_hero.jpg' %>
    </div>
  </div>

  <!-- visual indulgence -->
  <div class="panel u-full-width" id="visual-indulgence">
    <div class="container">
      <div class="six columns">
        <h1>visual indulgence</h1>
        <h2 class="h-sm">provided by Carl Zeiss vision</h2>
        <p>By using columbia resin #39 for our lenses, we deliver 98% optical clarity without the weight of glass. Treat your eyes and face today.</p>
        <p>Our sun lenses are all:</p>
        <ul>
          <li>100% UVA/UVB protection;</li>
          <li>Polarised;</li>
          <li>Anti-scratch;</li>
          <li>Anti-reflective</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- little things -->
  <div class="panel" id="little-things">
    <div class="container">
      <h1>built for every day</h1>
      <h2 class="h-sm">every detail considered</h2>

      <div class="row">
        <div class="three columns"><br/></div>
        <div class="two columns">
          <i class="fa fa-2x fa-leaf"></i>
          <br/><br/>
          <p>Hypoallergenic</p>
        </div>
        <div class="two columns">
          <i class="fa fa-2x fa-tint"></i>
          <br/><br/>
          <p>Waterproof</p>
        </div>
        <div class="two columns">
          <i class="fa fa-2x fa-flash"></i>
          <br/><br/>
          <p>Up to 30 day battery life</p>
        </div>
        <div class="three columns"></div>
      </div>
    </div>
  </div>

</div>
