<main>

<article id="gallery">
    <div class="background"><div class="image" style="background-image: url(<%= image_url 'one.jpeg' %>)"></div></div>
</article>

<article id="gallery">
    <div class="background"><div class="image" style="background-image: url(<%= image_url 'two.jpeg' %>)"></div></div>
</article>

<article id="gallery">
    <div class="background"><div class="image" style="background-image: url(<%= image_url 'three.jpeg' %>)"></div></div>
</article>

<article id="gallery">
    <div class="background"><div class="image" style="background-image: url(<%= image_url 'four.jpeg' %>)"></div></div>
</article>

<article id="gallery">
    <div class="background"><div class="image" style="background-image: url(<%= image_url 'five.jpeg' %>)"></div></div>
</article>

<article id="gallery">
    <div class="background"><div class="image" style="background-image: url(<%= image_url 'six.jpeg' %>)"></div></div>
</article>

<article id="gallery">
    <div class="background"><div class="image" style="background-image: url(<%= image_url 'seven.jpeg' %>)"></div></div>
</article>

<article id="gallery">
    <div class="background"><div class="image" style="background-image: url(<%= image_url 'eight.jpeg' %>)"></div></div>
</article>

    <article id="remaining">
        <div>
            <dl>
                <dd>1200</dd>
                <dt>Remaining</dt>
            </dl>
            <!-- <a href="#" class="button">Preorder</a> -->
            <%= render partial: 'footer' %>
        </div>
    </article>
</main>
