<main>
    <article id="campaign1">
        <%= image_tag 'one.jpg' %>
    </article>

    <article id="campaign2">
        <%= image_tag 'two.jpg' %>
    </article>

    <article id="campaign3">
        <%= image_tag 'three.jpeg' %>
    </article>

    <article id="campaign9">
        <%= image_tag 'nine.jpg' %>
    </article>

    <article id="campaign4">
        <%= image_tag 'four.jpeg' %>
    </article>

    <article id="campaign5">
        <%= image_tag 'five.jpeg' %>
    </article>

    <article id="campaign6">
        <%= image_tag 'seven.jpeg' %>
    </article>

    <article id="campaign7">
        <%= image_tag 'seven.jpg' %>
    </article>

    <article id="campaign8">
        <%= image_tag 'eight.jpeg' %>
    </article>

    <article id="remaining">
        <div>
            <dl>
                <dd>1200</dd>
                <dt>Remaining</dt>
            </dl>
            <!-- <a href="#" class="button">Preorder</a> -->
            <%= render partial: 'footer' %>
        </div>
    </article>
</main>
