<div class="container" id="hero">
    <div class="six columns" id="hero-image">
        <%= image_tag 'glasses_hero.jpeg' %>
    </div>
    <div class="six columns" id="hero-content">
        <h1><span class="bold">Unloseable Glasses</span> | Made in Sydney</h1>
        <p>1 in 2 people lose a pair of glasses every year, contributing 90,000 tonnes of waste into the environment. Are you one of them?</p>
        <a href="/preorder"><button>Reserve for $95</button></a>
    </div>
</div>

    <div id="scroll-indicator">
        <i class="fa fa-chevron-down fa-2x"></i>
    </div>

<div class="container" id="design">
    <div class="row">
        <div class="six columns frame-container">
            <%= image_tag 'frames/ford/ford_black_sun.jpg' %>
            <h3 class="design-title">Ford</h3>
            <p class="design-detail">Matte Black | Sun</p>
        </div>
        <div class="six columns frame-container">
            <%= image_tag 'frames/ive/ive_black_sun.jpg' %>
            <h3 class="design-title">Ive</h3>
            <p class="design-detail">Matte Black | Sun</p>
        </div>
    </div>
    <div class="row" id="design-content">
        <h2><span class="bold">Design</span> | Pair of Beauties</h2>
        <p>Tzukuri is available in 2 beautiful designs, 2 sizes and is available in both sun and optical.</p>
    </div>
    <div class="row">
        <div class="six columns frame-container">
            <%= image_tag 'frames/ford/ford_black_optical.jpg' %>
            <h3 class="design-title">Ford</h3>
            <p class="design-detail">Matte Black | Optical</p>
        </div>
        <div class="six columns frame-container">
            <%= image_tag 'frames/ive/ive_black_optical.jpg' %>
            <h3 class="design-title">Ive</h3>
            <p class="design-detail">Matte Black | Optical</p>
        </div>
    </div>
</div>

<div class="u-full-width" id="app">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <h2><span class="bold">Unloseable</span> | Notifications</h2>
                <p>The Tzukuri app notifies you when you leave your glasses behind, so you won’t forget them.</p>
            </div>
            <div class="six columns">
                <%= image_tag 'screenshot_2.png' %>
            </div>

        </div>
    </div>
</div>

<div class="u-full-width" id="personal-fitting">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <%= image_tag 'Tzukuri3144.JPG', style: 'width: 100%' %>
            </div>
            <div class="six columns">
            <h2><span class="bold">Personal Fitting</span> | Try them on</h2>
            <p>Want to try them on? Reserve yours now to schedule a complimentary Personal Fitting if you're within 15km of the Sydney CBD.</p>
            <a href="/preorder"><button>Reserve for $95</button></a>
            </div>
        </div>
    </div>
</div>
