<%= stylesheet_link_tag 'pages/index', media: 'all' %>
<%= javascript_include_tag 'pages/index', :defer => "defer" %>

<div class="main">
  <div class="container panel hidden" id="hero">
    <div class="five columns" id="hero-content">
      <h3>introducing</h3>
      <h1 class="h-lg">unlosable glasses</h1>
      <h2>Beautifully handmade glasses you won't lose.</h2>
      <a href="/unlosable-glasses"><button id="learn-more" class="sm-btn alternate tz-track" data-category="index" data-event="learn-more-click">learn more &nbsp; &rarr;</button></a>
    </div>

    <div class="seven columns" id="hero-image">
      <a href="/unlosable-glasses"><%= image_tag 'glasses/docked-overhead.jpg' %></a>
    </div>
  </div>

  <div class="container"><hr/></div>

  <!--<div class="panel" id="press">
    <div class="container">
      <div class="three columns">
        <%= image_tag 'fin_review_logo.png' %>
      </div>
      <div class="three columns">
        <h1>Impossible to lose</h1>
        <p>The glasses are balanced, comfortable... And the locator app, which is loaded onto your smartphone at the time of purchase, is clean and intuitive...</p>
        <p id="more-press"><a href="/press">Read more...</a></p>
      </div>
      <div class="three columns">
        <%= image_tag 'smh_logo.png' %>
      </div>
      <div class="three columns">
        <h1>Tzukuri launches unlosable glasses</h1>
        <p>When Allen Liao was still at university he borrowed a friend's expensive sunglasses and lost them. "He wasn't very happy with me so that's how it all started," Liao says.</p>
        <p id="more-press"><a href="/press">Read more...</a></p>
      </div>
    </div>
  </div>-->

  <div class="panel" id="press">
    <div class="container">
      <div class="six columns">
        <%= image_tag 'press/afr_logo.png', id: 'article-1-logo' %>
        <h1>Impossible to lose</h1>
        <p>The glasses are balanced, comfortable and - in the eyes of this writer, at least - stylish. And the locator app, which is loaded onto your smartphone at the time of purchase, is clean and intuitive...</p>
      </div>
      <div class="six columns">
        <%= image_tag 'press/smh_logo.png', id: 'article-2-logo' %>
        <h1>Tzukuri launches unlosable glasses</h1>
        <p>When Allen Liao was still at university he borrowed a friend's expensive sunglasses and lost them. "He wasn't very happy with me so that's how it all started," Liao says.</p>
        <p id="more-press"><a href="/press">Read more...</a></p>
      </div>
    </div>
  </div>

  <div class="panel" id="store">
    <div class="container">
      <div class="row">
        <div class="six columns">
          <h1>Tzukuri Sydney Store</h1>
          <p>We’ve repurposed the Old Clare Bottle Shop as a dedicated try-on space for you to experience Unlosable Glasses.</p>
        </div>
        <div class="three columns" id="address">
          <p class="bold">address</p>
          <p>The Old Clare Bottle Shop</p>
          <p>1 Kensington Street</p>
          <p>Chippendale, NSW, 2008</p>
          <a href="https://goo.gl/maps/ZdhPG1QdB6L2">Directions and map &rarr;</a>
        </div>
        <div class="three columns" id="hours">
          <p class="bold">store hours</p>
          <p>Open every day</p>
          <p>11:30AM - 7PM<br>
          Thurs open until 7.30PM<p>
        </div>
      </div>
    </div>
  </div>
</div>
