<main>
    <article id="unloseable">
        <div class="panel">
            <div class="content">
                <h1>Unloseable.</h1>
                <h2>Sunglasses + iPhone.</h2>
                <p>Your iPhone alerts you if you leave your Tzukuris behind, and the app shows you where you left them.</p>
                <p><a href="/technology">Learn more about the technology</a></p>
                <a href="#" class="share"><%= image_tag 'share.png' %>Share</a>
            </div>
            <div class="background">
                <div class="image" style="background-image: url(<%= image_url 'white.jpg' %>)"></div>
            </div>
        </div>
    </article>

    <article id="fashion">
        <div class="background"><div class="image" style="background-image: url(<%= image_url 'fashion.jpg' %>)"></div></div>
    </article>

    <article id="frames">
        <div class="panel">
            <div class="content">
                <ul>
                    <li>
                        <%= image_tag 'frames/atticus/black-front.jpg', class: 'black' %>
                        <%= image_tag 'frames/atticus/tortoise-front.jpg', class: 'tortoise', style: 'opacity: 0.0' %>
                    </li>
                </ul>
                <menu>
                <div data-image="black" class ='selected'>
                    <div></div>
                    <p>Black</p>
                </div>
                <div data-image="tortoise">
                    <div></div>
                    <p>Tortoise</p>
                </div>
                </menu>
                <p><a href="#" class="share"><%= image_tag 'share.png' %>Share</a></p>
            </div>
        </div>
    </article>

    <article id="design">
        <div class="panel">
            <div class="content">
                <h1>Inspired by heroes.</h1>
                <h1>Designed with science.</h1>
                <p>By analysing the visual field of the human eye, we designed frames to suit the broadest range of face shapes. The result is two beautiful designs in two colours, refined geometrically so you can find the perfect pair.</p>
                <p><a href="/design">Learn more about the design.</a></p>
            </div>
        </div>
    </article>

    <article id="craftsmanship">
        <div class="background">
            <div class="image" style="background-image: url(<%= image_url 'frames.jpg' %>)"></div>
        </div>
        <div class="panel">
            <div class="content">
                <h1>Handmade in Sydney.</h1>
                <h2>Lenses produced by Carl Zeiss Vision.</h2>
                <p>Our frames are handmade in Sydney, using techniques inspired by the finest Japanese artisans. Japanese precision equipment and high quality acetates make of a pair of glasses unparalleled in beauty and durability.</p>
                <p><a href="/craftsmanship">Learn more about the craftsmanship.</a></p>
                <dl>
                    <span id="craftsmanship-weeks">
                        <dd>3</dd>
                        <dt>weeks to make</dt>
                    </span>
                    <span id="craftsmanship-qc">
                        <dd>8</dd>
                        <dt>quality control checks</dt>
                    </span>
                    <span id="craftsmanship-processes">
                        <dd>110</dd>
                        <dt>production processes</dt>
                    </span>
                </dl>
            </div>
        </div>
    </article>

    <article id="environment">
        <div class="panel">
            <div class="content">
                <h1>For the environment.</h1>
                <p>With 1 in 2 people losing a pair of sunglasses in the first year, Tzukuri is starting a fight against 26 kilotonnes of plastic waste.</p>
                <p><i class="fa fa-globe"></i></p>
                <dl>
                    <div>
                        <span>
                            <dd>98<span>%</span></dd>
                            <dt>renewable<br>materials</dt>
                        </span>
                        <span>
                            <dd>98<span>%</span></dd>
                            <dt>recyclable<br>packaging</dt>
                        </span>
                    </div>
                </dl>
            </div>
        </div>
    </article>
</main>
