<%#= render 'layouts/action_bar', type: '' %>

<div class="main">
  <div class="header">
    <div class="bg photo"></div>
    <div class="bg gradient"></div>
    <div class="container content">
      <div>
        <h1>our story</h1>
        <h2>two years in the making</h2>
      </div>
    </div>
  </div>

  <!-- new craft -->
  <div class="panel">
    <div class="container">
      <div class="row" id="new-craft">
        <div class="six columns">
          <h1>a new craft</h1>
          <h2 class="h-sm">manufacturing redesigned</h2>
          <p>Incorporating electronics inside a pair of glasses required a complete redesign of the eyewear manufacturing process. Every pair requires 37 stages, 10 hand finishing steps and 10 working days to complete.</p>
        </div>
        <div class="six columns">
          <%= image_tag 'other/mini-mill.jpg' %>
        </div>
      </div>
    </div>
  </div>

  <!-- new craft -->
  <div class="panel" id="materials">
    <div class="container">
      <h1>materials</h1>

      <div class="row">
        <%= image_tag 'icons/cellulose-acetate.png', id: 'cellulose-acetate' %>
        <p><span class="bold">Frame:</span> Cellulose Acetate</p>
        <p class="desc">A unique polymer made from plant fibre rather than fossil fuels. It is comfortable, durable and 100% recyclable and renewable.</p>
      </div>

      <div class="row">
        <%= image_tag 'icons/digilycol-carbonate.png', id: 'digilycol-carbonate' %>
        <p><span class="bold">Lenses:</span> Allyl Diglycol Carbonate</p>
        <p class="desc">A thermosetting polymer with high abrasion resistance, high optical clarity yet half the weight of glass.</p>
      </div>

      <div class="row">
        <%= image_tag 'icons/silver-oxide.png', id: 'silver-oxide' %>
        <p><span class="bold">Battery:</span> Silver Oxide</p>
        <p class="desc">A rechargeable solid-state battery with exceptional safety performance in higher temperature environments.</p>
      </div>

    </div>
  </div>

  <!-- software research -->
  <div class="panel" id="app-science">
    <div class="container">
      <h1>app science</h1>
      <h2 class="h-sm">software meets physics</h2>
      <p>To more precisely measure distance with radio signals such as bluetooth, we’ve developed new methods of filtering out interference and reflection of radio waves.</p>
      <%= image_tag 'icons/radio.png' %>
    </div>
  </div>

  <%= render partial: 'layouts/cta' %>
</div>

<% content_for :javascript_includes do %>
  <%= stylesheet_link_tag 'pages/intelligently-made', media: 'all' %>
  <%= javascript_include_tag 'layouts/cta' %>
  <%= stylesheet_link_tag 'layouts/cta' %>
<% end %>
