<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'pages/press' %>
  <%= stylesheet_link_tag 'pages/press' %>
<% end %>

<div class="main">
    <div class="panel" id="press">
        <div class="container">
            <h1 class="header">media and press</h1>

            <div class="article">
                <div class="three columns">
                    <%= image_tag 'press/smh_logo.png' %>
                    <p class="date">10 March 2017</p>
                    <p class="original"><a href="http://www.smh.com.au/small-business/startup/tzukuri-launches-unlosable-glasses-20170309-guuken.html">View original</a></p>
                </div>
                <div class="nine columns">
                    <section class="top">
                        <h1>Tzukuri launches unlosable glasses</h1>
                        <p>When Allen Liao was still at university he borrowed a friend's expensive sunglasses and lost them.</p>
                        <p>"He wasn't very happy with me so that's how it all started," Liao says.</p>
                        <p>The 23-year-old dropped out of uni to start developing Tzukuri, a line of "unlosable" glasses which went on sale this week.</p>
                        <p>Tzukuri integrates hand-crafted glasses with Bluetooth technology. The glasses are connected to an iOS app, which notifies the owner if they are left behind, records the last GPS location and shows proximity when searching for them indoors.</p>
                        <p class="continue"><a href="#"><button class="sm-btn alternate tz-track" data-category="press" data-event="smh-0-expand">Continue Reading</button></a></p>
                    </section>
                    <section class="bottom" style="display: none">
                        <h2>Manufacturing</h2>
                        <p>The range is manufactured in Sydney from cellulose acetate which is a 100 per cent renewable and recyclable natural biopolymer manufactured from cotton and wood pulp.</p>
                        <p>Tzukuri creates both glasses and sunglasses priced at $480 including prescription lenses. They are available online and from a pop-up at Sydney's Old Clare Hotel which opened this week.</p>
                        <p>"If you look at technology like your phone, it is made from lots of different components," Liao says. "But when you make a pair of glasses you only have three pieces to work with. We invented a new process to seal the electronics inside one piece of material which allows us to make a very light pair of glasses."</p>
                        <p>Liao chose to stick to a classic and simple design for the glasses in contrast to the sophisticated technology inside.</p>
                        <p>"There was a lot of work in [the] design, working out what materials to use and what lenses to use," he says.</p>
                        <p>Tzukuri has only produced a first run of 320 pairs as the glasses are all handmade in Australia.</p>
                        <p>"We want to continue to make them in Australia and we're currently searching for manufacturers," Liao says.</p>
                        <h2>Backers</h2>
                        <p>He's scored some big name backers with Dennis Paphitis, the founder of Aesop and Andrew Rothwell the founder of Tyro on board as directors of Tzukuri.</p>
                        <p>Liao won't reveal how much funding Tzukuri has received but says "it's been a long process, raising capital is hard".</p>
                        <p>Liao travelled to the United States meeting with anyone and everyone he could.</p>
                        <p>"Capital raising is really relationship building. For people to invest in a start-up there is no proof of its success. Nearly every investor we have, we've had strong relationships with six to nine months before we have had a chat."</p>
                        <p>The one exception is Matt Mullenweg, the founder of Wordpress.</p>
                        <p>​"We had a quick conversation when I was in the United States. I pitched him the company and he called me back the next day and said 'Allen it's absolutely crazy, but I think it might work'."</p>
                        <p>Other investors and advisers include Stephen Fry, Ron Johnson, who created Apple's retail arm and Bertrand Serlert, the former senior vice-president of software engineering at Apple.</p>
                        <p>Liao met Fry through a screenwriter in the United States who told him "Stephen would really love your glasses". It turned out Fry did.</p>
                        <p>He's now an adviser to Tzukuri, and Liao says Fry has made "many, many introductions".  "He's very close to some Apple executives".</p>
                        <p>Alongside the Apple alumni Liao has secured the backing of Ilana Atlas a director at ANZ, Coca Cola and Westfield, and Chris Boshuizen the founder of Planet Labs.</p>
                        <h2>The reality</h2>
                        <p>Liao says he's nervous now his vision has become a reality.</p>
                        <p>"You've got to be nervous, you just don't know what people will expect," he says.</p>
                        <p>The signs are good so far, with Tzukuri breaking even the first day it started trading. Liao has plans to open three stores in the next six months and is aiming to sell 13,000 pairs of glasses in Australia, bringing in over $6 million in revenue.</p>
                        <p>If his plans for international expansion come off there are more commercial opportunities.</p>
                        <p>"We are looking first at New Zealand and Asia-Pacific and then looking very closely at the United States and Europe," Liao says.</p>
                        <p>But the process of developing Tzukuri has not been without its challenges for Liao. His initial co-founder left the business and went back to finish his university course.</p>
                        <p>"You have to love it," Liao says. "Starting a company where you are making the physical product, especially electronics, is so hard that you have to have a great passion for whatever you are doing otherwise you will give up."</p>
                    </section>
                </div>
                <div style="clear: both"></div>
            </div>

            <div class="article">
                <div class="three columns">
                    <%= image_tag 'press/fin_review_logo.png' %>
                    <p class="date">6 March 2017</p>
                    <p class="original"><a href="http://www.afr.com/lifestyle/fashion/accessories/silicon-valley-gets-behind-australian-students-unloseable-specs-20170303-gupxtd">View original</a></p>
                </div>
                <div class="nine columns">
                    <section class="top">
                        <h1>Impossible to lose</h1>
                        <div class="image"><%= image_tag 'press/fin_review_print.jpg' %></div>
                        <p>For the past two years, in the basement of a nondescript family home in Sydney's eastern suburbs, a 23-year-old Taiwanese-Australian has quietly been developing an item of wearable tech that could fundamentally alter the way we see.</p>
                        <p>On paper, it sounds incredibly simple: embed a tiny locator chip in a pair of spectacles so the wearer never has to worry about losing them. But back in 2014, when the idea struck electrical engineering student Allen Liao, there was no such product on the market.</p>
                        <p>Liao realised that being able to find their glasses quickly could change the habits of those who wear spectacles only for certain tasks, encouraging more consistent use and improving long-term eye-health outcomes. And fewer lost pairs would mean less metal and plastic waste plus ongoing savings for those of us who can't seem to hold on to a pair of glasses.</p>
                        <p class="continue"><a href="#"><button class="sm-btn alternate tz-track" data-category="press" data-event="afr-0-expand">Continue Reading</button></a></p>
                    </section>
                    <section class="bottom" style="display: none">
                        <p>The commercial prospects in Australia alone – where an estimated 41 million pairs of glasses are sold each year – are significant. And Liao says that unloseable glasses are just the beginning: in future, the chip could have medical applications or be used to control lenses that are responsive to different environmental conditions.</p>
                        <p>Little wonder, then, that some of the brightest minds – and deepest pockets – in global tech and commerce are lining up to support Liao and his newly minted company, Tzukuri. Now, after an online soft launch that exceeded all expectations,  Liao is helming a four-week Tzukuri pop-up in central Sydney so people can inspect the product and chat with its maker.</p>
                        <p>He is quietly confident that interest in the temporary store – which opened on Wednesday at the Old Clare Hotel in Chippendale – will be strong. "Last year, we wanted to know if Tzukuri was a good idea, so we set up a website and described what we wanted to build and offered pre-sales," he says. "In three days, we did $50,000 worth of orders. After that, we knew that the concept had broad appeal."</p>
                        <p>The most striking characteristic of Tzukuri glasses – which are available as spectacles or sunglasses in two contrasting frame designs – is how uncomplicated they appear. Liao and his team based the frame designs on classic 20th-century spectacle shapes that most consumers would be familiar with, and decided not to include any stylistic bells or whistles.</p>
                        <p>The frames are made with lightweight cellulose acetate, a natural biopolymer manufactured from cotton and wood pulp, and all the electronic components – which are custom-made by a company in California to NASA-level safety standards – are expertly hidden inside the arms.</p>
                        <p>The glasses are balanced, comfortable and – in the eyes of this writer, at least – stylish. And the locator app, which is loaded onto your smartphone at the time of purchase, is clean and intuitive, using Bluetooth and GPS for close-range and long-distance tracking respectively.</p>
                        <p>"We wanted to make the simplest, cleanest, most beautiful product we could," says Liao, citing key members of Apple's design and retail teams as the businesspeople who have influenced him most. Indeed, the parallels between Tzukuri's mission statement and the consumer electronics philosophy developed by Apple in the late 1990s are strong, and it's telling that the Tzukuri locator app is currently only available for iPhones.</p>
                        <p>Apple alumni have responded warmly to Liao's idea: both Ron Johnson, whom Steve Jobs hired in 1997 to build Apple retail from the ground up, and Bertrand Serlert, the former senior vice-president of software engineering at the company, are investors in Tzukuri. Also contributing funds is Bridgewater Associates co-CEO Jon Rubinstein, who was instrumental in ushering in the iPod.</p>
                        <p>These brains from Apple are part of a super-team of directors and investors that also includes Aesop founder Dennis Paphitis, Wordpress founder Matt Mullenweg and Tyro founder Andrew Rothwell. Even actor and comedian Stephen Fry has a stake.</p>
                        <p>Says Johnson: "Allen and team have taken a product most of us own and magically integrated technology without compromising design, delivering a function never before imagined."</p>
                        <p>Liao met many of his 21 investors during an action-packed trip to Silicon Valley in May 2015. The visit was facilitated by Johnson, who struck up a friendship with Liao after the then-19-year-old cold-emailed him about his idea.</p>
                        <p>"In the space of three weeks I had 76 meetings," says Liao. "I met 18 different billionaires who had each changed the world in their own little way. It was a whirlwind."</p>
                        <p>Because Liao is soft-spoken and unassuming, the idea of him taking the boardrooms of Silicon Valley by storm might strike some of those who meet him as far-fetched. But listening to him talk about Tzukuri, it becomes clear that he has an entrepreneur's mind and has planned his endeavour very carefully indeed.</p>
                        <p>"I remember when I was five or six, my mother wanted me to be able to read and write Chinese, so instead of reading bedtime stories to me, she would make me read Chinese stories to her," he says. "We used these beautiful books with shortened biographies of businessmen and scientists and artists, and what I loved most was reading about people like Rockefeller and Ford and Edison. That was the beginning."</p>
                        <p>Liao is planning further Australian pop-up stores in the months ahead, and is also launching a personal try-on service which sends Tzukuri reps to offices and homes across Sydney for one-on-one fittings. The next goal is permanent retail locations – something Liao hopes Paphitis from Aesop can help him with.</p>
                        <p>From there, the world beckons. Does Liao want to be the next Steve Jobs? Absolutely, he says – but he's in no rush. "Our goal is to do as much learning in Australia as we can," he says.</p>
                    </section>
                </div>
                <div style="clear: both"></div>
            </div>




        </div>
    </div>
</div>
