<div class="container" id="reserve-nav">
  <a href="#" id="utility">utility</a>
  <a href="#" id="frame">frame</a>
  <a href="#" id="lens">lens</a>
  <a href="#" id="checkout">checkout</a>
</div>

<div id="reserve" class="container" data-discount="<%= @discount %>" data-code="<%= @code %>">

  <div class="step-container hidden" id="step-utility">
    <h1>choose between optical and sun</h1>
    <div class="row">
      <div class="five columns">
          <div class="select-utility" data-utility="optical">
            <%= image_tag 'frames/ford/ford_black_optical.jpg' %>
            <p class="select-title">optical</p>
          </div>
      </div>
      <div class="two columns">&nbsp;</div>
      <div class="five columns">
          <div class="select-utility" data-utility="sun">
            <%= image_tag 'frames/ive/ive_black_sun.jpg' %>
            <p class="select-title">sun</p>
          </div>
      </div>
    </div>
    <p class="pricing">Reserve for an <span id="deposit"></span> AUD deposit</p>
  </div>

  <div class="step-container hidden" id="step-frame">
    <h1>choose your frames</h1>
    <div class="row">
      <div class="five columns select-frame" data-frame="ford">
          <%= image_tag 'frames/ford/ford_black_sun.jpg', class: 'sun' %>
          <%= image_tag 'frames/ford/ford_black_optical.jpg', class: 'optical' %>
          <p class="select-title">ford</p>
      </div>
      <div class="two columns">&nbsp;</div>
      <div class="five columns select-frame" data-frame="ive">
          <%= image_tag 'frames/ive/ive_black_sun.jpg', class: 'sun' %>
          <%= image_tag 'frames/ive/ive_black_optical.jpg', class: 'optical' %>
          <p class="select-title">ive</p>
      </div>
    </div>
    <p class="pricing">Reserve for an <span id="deposit"></span> AUD deposit</p>
  </div>

  <div class="step-container hidden" id="step-lenses">
    <h1>choose your lenses</h1>
    <div class="row" id="lens-type">
      <div class="six columns select-lens" data-lens="prescription">
          <%= image_tag 'prescription.png', style: 'width: 35%;' %>
          <p class="select-title">prescription</p>
          <p class="pricing">Final payment of <span id="prescription"></span> AUD <br/>Single vision only. We will contact you to obtain your prescription.</p>
      </div>
      <div class="six columns select-lens" data-lens="non-prescription">
          <%= image_tag 'non_prescription.png', style: 'width: 35%;' %>
          <p class="select-title">non-prescription</p>
          <p class="pricing">Final payment of <span id="non-prescription"></span> AUD</p>
      </div>
    </div>

    <div class="row" id="lens-size">
        <div class="six columns select-size" data-size="49">
          <%= image_tag 'frames/ford/ford_black_optical.jpg', class: 'optical', style: 'width: 73%' %>
          <%= image_tag 'frames/ford/ford_black_sun.jpg', class: 'sun', style: 'width: 73%' %>
          <p class="select-title">49mm</p>
          <p class="pricing">This size will fit most people</p>
        </div>

        <div class="six columns select-size" data-size="51.5">
          <%= image_tag 'frames/ford/ford_black_optical.jpg', class: 'optical', style: 'width: 80%' %>
          <%= image_tag 'frames/ford/ford_black_sun.jpg', class: 'sun', style: 'width: 80%' %>
          <p class="select-title">51.5mm</p>
          <p class="pricing">Choose this size if most glasses are too small</p>
        </div>
    </div>
  </div>

  <div class="step-container hidden" id="step-checkout">
        <h1>complete your reservation</h1>

        <div class="row step-content">
          <div class="six columns" id="glasses">
            <div class="row" id="checkout-images">
              <%= image_tag 'frames/ford/ford_black_sun.jpg', class: 'ford sun' %>
              <%= image_tag 'frames/ford/ford_black_optical.jpg', class: 'ford optical' %>
              <%= image_tag 'frames/ive/ive_black_optical.jpg', class: 'ive optical' %>
              <%= image_tag 'frames/ive/ive_black_sun.jpg', class: 'ive sun' %>
            </div>
            <div class="row">
              <div class="twelve columns glasses-details">
                <dl>
                  <dt>Utility:</dt>
                  <dd id="utility-selection"></dd>
                  </br>

                  <dt>Frame:</dt>
                  <dd id="frame-selection"></dd>
                  <br/>
                  <dt>Lens:</dt>
                  <dd id="lens-selection"></dd>
                  <br/>
                  <dt>Size:</dt>
                  <dd id="size-selection"></dd>
                  <br/>
                  <dt>Total:</dt>
                  <dd id="total-selection"></dd>
                </dl>

                <p>Includes complimentary shipping and Personal Setup. <span id="contact-prescription">We will contact you to obtain your prescription before your glasses are ready to ship.</span></p>

              </div>
            </div>
          </div>
          <div class="one column" style="height: 1px;">&nbsp;</div>
          <div class="five columns" id="shipping">

            <!-- the user has apple pay enabled -->
            <div id="apple-pay">
              <div class="apple-pay-button-with-text apple-pay-button-black-with-text">
                <span class="text">Buy with</span>
                <span class="logo"></span>
              </div>
              <p><a href="" id="ignore-apple-pay">Don't want to use Apple Pay?</a></p>

              <p class="pricing">You will be charged <span id="deposit"></span> AUD. The remaining <span class="remainder"></span> AUD will be charged when your glasses are ready to ship.</p>

            </div>

            <!-- the user does not have apple pay enabled, so show the regular payment -->
            <div id="regular-pay">
              <%= form_for Preorder.new, :html => {:method => :post}, remote:true do |f| %>

              <!-- contact details -->
              <p class="section-head">Contact information</p>

              <%= label :purchase, :name, "Full Name" %>
              <%= f.text_field :name, placeholder: 'John Smith', autofocus: true %>

              <%= label :purchase, :email, "Email Address" %>
              <%= f.text_field :email, placeholder: 'john@tzukuri.com' %>

              <%= label :purchase, :phone, "Contact Number" %>
              <%= f.telephone_field :phone,    placeholder: '04XX XXX XXX' %>

              <!-- shipping details -->
              <p class="section-head">Shipping information</p>

              <%= label :purchase, :address1, "Shipping Address 1" %>
              <%= f.text_field :address1, placeholder: 'Street name, number, etc.' %>

              <%= label :purchase, :address2, "Shipping Address 2" %>
              <%= f.text_field :address2, placeholder: 'City, suburb, etc.' %>

              <%= label :purchase, :state, "State" %>
              <%= f.text_field   :state, placeholder: 'New South Wales' %>

              <%= label :purchase, :postcode, "Postal Code" %>
              <%= f.text_field :postal_code, placeholder: '1234', maxlength: 4 %>

              <%= label :purchase, :country, "Country" %>
              <%= f.text_field :country,  placeholder: 'country', value: 'Australia', disabled: true %>

              <% end %>

              <form id="payment-form">
              <p class="section-head" style="padding-top: 15px;">Payment information</p>

                <div id="cc">
                    <label for="">Credit Card Number</label>
                    <input id="payment_ccNumber" name="number" type="text" data-stripe="number" placeholder="4000 0566 5566 5556">

                    <label ford="">Expiry Date</label>
                    <select name="month" style="width: 49%" data-stripe="exp-month">
                      <option value="1">Jan (01)</option>
                      <option value="2">Feb (02)</option>
                      <option value="3">Mar (03)</option>
                      <option value="4">Apr (04)</option>
                      <option value="5">May (05)</option>
                      <option value="6">Jun (06)</option>
                      <option value="7">Jul (07)</option>
                      <option value="8">Aug (08)</option>
                      <option value="9">Sep (09)</option>
                      <option value="10">Oct (10)</option>
                      <option value="11">Nov (11)</option>
                      <option value="12">Dec (12)</option>
                    </select>

                    <select name="year" style="width: 49%" data-stripe="exp-year">
                      <option>2016</option>
                      <option>2017</option>
                      <option>2018</option>
                      <option>2019</option>
                      <option>2020</option>
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                      <option>2026</option>
                    </select>

                    <label for="">Security Code</label>
                    <input id="payment_cvv" name="CVV" type="text" placeholder="Security code" data-stripe="CVV">
                </div>

                <button id="reserve-submit" type="submit" class="order-btn">
                  <span id="reserve-for">reserve for 85 AUD</span>
                </button>

                <div id="submit-spinner" class="loader" style="display:none"></div>

                <p id="error-messages"></p>

                <p class="pricing">The remaining <span class="remainder"></span> AUD will be charged when your glasses are ready to ship.</p>
            </div>

            <!-- the user has completed their registration -->
            <div id="thank-you">
              <hr>
              <p>Thanks for reserving your Tzukuris. You should receive an order confirmation shortly. <br/><br/> If you have any questions please get in touch at <a href="mailto:hello@tzukuri.com">hello@tzukuri.com</a>.</p>
            </div>

          </div>
        </div>

  </div>

</div>

<div class="u-full-width" id="in-the-box">
  <div class="container">
    <h1>What's Included</h1>
    <div class="row">
      <div class="four columns">
        <%= image_tag 'glasses.png', id: 'unlosable' %>
      </div>
      <div class="four columns">
        <%= image_tag 'microfibre.png', id: 'cloth' %>
      </div>
      <div class="four columns">
        <%= image_tag "dock_cable.png", id: 'charge' %>
      </div>
    </div>

    <div class="row">
      <div class="four columns">
        <p>Unlosable Glasses</p>
      </div>
      <div class="four columns">
        <p>Microfibre Cloth</p>
      </div>
      <div class="four columns">
        <p>Charger & Cable</p>
      </div>
    </div>
  </div>
</div>

<div class="u-full-width" id="specifications">
  <div class="container">
    <h1>Technical Specifications</h1>
    <div class="row">
    <div class="four columns">
      <!--  whats included -->
      <article>
        <h2>What's included</h2>
        <ul>
          <li>Unlosable glasses</li>
          <li>Charging cable</li>
          <li>Charging dock</li>
          <li>Microfibre cleaning cloth</li>
          <li>Documentation</li>
        </ul>
      </article>

      <!-- battery and power -->
      <article>
        <h2>Battery and Power</h2>
        <p>
          Battery life up to 30 days. Battery life and charge cycles vary with use, settings, and other factors; actual results will vary. The Tzukuri app will notify you when your glasses require charging.
        </p>
        <ul>
          <li>Battery type: Silver Oxide</li>
          <li>Charge time: Three to four hours</li>
        </ul>
      </aticle>
    </div>
    <div class="four columns">
      <!-- care -->
      <article>
        <h2>Care</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvinar fringilla mi in sodales. Sed lacinia turpis non quam blandit, ac semper tortor auctor. Ut at lacus ut metus mattis molestie. Quisque lectus velit, egestas vel laoreet ut, euismod vitae eros.</p>
      </article>

      <!-- materials -->
      <article>
        <h2>Materials</h2>
        <ul>
          <li>Frames: High quality, precision-milled cellulose acetate</li>
          <li>Sun Lenses: Polarised, hand cut, 100% UV protection, polycarbonate, impact resistant</li>
          <li>Optical Lenses: Hand cut, polycarbonate, impact resistant</li>
        </ul>
      </article>
    </div>
    <div class="four columns">
      <!-- environmental requirements -->
      <article>
        <h2>Environmental Requirements</h2>
        <ul>
          <li>Operating temperature: -10° to 45° C</li>
          <li>Maximum operating altitude: 9,144 m</li>
        </ul>
      </article>

      <!-- syncing and notifications -->
      <article>
        <h2>Bluetooth and Notifications</h2>
        <p>Each pair of Tzukuris connect to your iPhone using wireless Bluetooth Low Energy. Some features will require you to grant access to Location Services, Notifications and Motion & Fitness to function correctly. </p>
        <ul>
          <li>Bluetooth range: Up to 15m</li>
          <li>Requires iPhone 5 or later running iOS 9 and above.</li>
          <li>Compatible with: iPhone 5, iPhone 5C, iPhone SE, iPhone 6, iPhone 6 Plus, iPhone 6s, iPhone 6s Plus, iPhone 7, iPhone 7 Plus</p>
        </ul>
      </article>
    </div>
  </div>
  </div>
</div>

<!-- stripe -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>
    // set the stripe keys
    <% if Rails.env.development? %>
        Stripe.setPublishableKey('pk_test_HWxqGZq4R2zTKm5915tgDas4');
    <% else %>
        Stripe.setPublishableKey('pk_live_VAzrbCZ5hRh2i3tXpoS9GL5I');
    <% end %>
</script>
