<main>
    <ul id="frames">
        <div id="recom">
            <h1>Recommendations</h1>
            <p>We want you to get the best pair of glasses possible, lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget consequat diam. Morbi suscipit lorem id suscipit tempus. Vestibulum blandit nunc quis purus aliquet varius.</p>
            <ul id="mf">
                <li data-style="masculine" class="selected">
                    <%= image_tag 'ford-checkout.png' %>
                    <span>Masculine</span>
                </li>
                <li data-style="feminine">
                    <%= image_tag 'mon-checkout.png' %>
                    <span>Feminine</span>
                </li>
            </ul>

            <ul class="faces male">
                <li data-face="oval" data-frames="truman stark">
                    <%= image_tag 'face-shapes/m-oval.png' %>
                    <span>
                        <h1>Oval</h1>
                        <p>Your face is longer than it is wide, with your cheekbones being the widest part.</p>
                    </span>
                </li>
                <li data-face="square" data-frames="fitzgerald truman">
                    <%= image_tag 'face-shapes/m-square.png' %>
                    <span>
                        <h1>Square</h1>
                        <p>You have a wide angular jawline, and your chin and forehead are of equal width. Face length can vary.</p>
                    </span>
                </li>
                <li data-face="triangular" data-frames="atticus ford">
                    <%= image_tag 'face-shapes/m-triangle.png' %>
                    <span>
                        <h1>Triangular</h1>
                        <p>Your forehead is your widest feature, which then narrows towards a slimmer chin.</p>
                    </span>
                </li>
                <li data-face="round" data-frames="atticus stark">
                    <%= image_tag 'face-shapes/m-round.png' %>
                    <span>
                        <h1>Round</h1>
                        <p>The widest part of your face is about the same as the length of your face.</p>
                    </span>
                </li>
            </ul>

            <ul class="faces female" style="display: none">
                <li data-face="round" data-frames="fitzgerald truman">
                    <%= image_tag 'face-shapes/f-round.png' %>
                    <span>
                        <h1>Round</h1>
                        <p>The widest part of your face is about the same as the length of your face.</p>
                    </span>
                </li>
                <li data-face="heart" data-frames="monaco atticus">
                    <%= image_tag 'face-shapes/f-heart.png' %>
                    <span>
                        <h1>Heart</h1>
                        <p>Your forehead is your widest feature, which then narrows towards a slimmer chin.</p>
                    </span>
                </li>
                <li data-face="oblong" data-frames="ford stark">
                    <%= image_tag 'face-shapes/f-oblong.png' %>
                    <span>
                        <h1>Oblong</h1>
                        <p>Your forehead and chin are similar in width, and you have a fuller jaw. Face length can vary.</p>
                    </span>
                </li>
                <li data-face="oval" data-frames="atticus truman">
                    <%= image_tag 'face-shapes/f-oval.png' %>
                    <span>
                        <h1>Oval</h1>
                        <p>Your face is longer than it is wide, with your cheekbones being the widest part.</p>
                    </span>
                </li>
            </ul>
        </div>

        <li data-frame="atticus">
            <div>
                <%= image_tag 'frames/atticus/tortoise-front.jpg', class: 'tortoise' %>
                <%= image_tag 'frames/atticus/black-front.jpg', class: 'black', style: 'opacity: 0.0' %>
            </div>
            <h1>Atticus</h1>
            <p>Inspired by Atticus Finch.<!-- The balance of roundness and depth complements the dimensions and angularity of most longer faces.--></p>
        </li>
        <li data-frame="monaco">
            <div>
                <%= image_tag 'frames/monaco/tortoise-front.jpg', class: 'tortoise' %>
                <%= image_tag 'frames/monaco/black-front.jpg', class: 'black', style: 'opacity: 0.0' %>
            </div>
            <h1>Monaco</h1>
            <p>Inspired by Grace Kelly.<!-- A refined cat-eye frame which draws attention upwards towards the eyes and adds height to your cheekbones.--></p>
        </li>
        <li data-frame="ford">
            <div>
                <%= image_tag 'frames/ford/tortoise-front.jpg', class: 'tortoise'%>
                <%= image_tag 'frames/ford/black-front.jpg', class: 'black', style: 'opacity: 0.0' %>
            </div>
            <h1>Ford</h1>
            <p>Inspired by Tom Ford.<!-- Strong curves and depth soften strong and angular features like prominent jaws and broader foreheads.--></p>
        </li>
        <li data-frame="fitzgerald">
            <div>
                <%= image_tag 'frames/fitzgerald/tortoise-front.jpg', class: 'tortoise' %>
                <%= image_tag 'frames/fitzgerald/black-front.jpg', class: 'black', style: 'opacity: 0.0' %>
            </div>
            <h1>Fitzgerald</h1>
            <p>Inspired by John Fitzgerald Kennedy.<!-- Softer angles and horizontal planes to add subtle definition to cheekbones. A classic and understated style.--></p>
        </li>
        <li data-frame="truman">
            <div>
                <%= image_tag 'frames/truman/tortoise-front.jpg', class: 'tortoise' %>
                <%= image_tag 'frames/truman/black-front.jpg', class: 'black', style: 'opacity: 0.0' %>
            </div>
            <h1>Truman</h1>
            <p>Inspired by Truman Capote.<!-- The combination of depth and angularity adds height to cheekbones and gives your face a longer, thinner profile.--></p>
        </li>
        <li data-frame="stark">
            <div>
                <%= image_tag 'frames/stark/tortoise-front.jpg', class: 'tortoise' %>
                <%= image_tag 'frames/stark/black-front.jpg', class: 'black', style: 'opacity: 0.0' %>
            </div>
            <h1>Stark</h1>
            <p>Inspired by James Dean.<!-- A hybrid aviator, fusing depth and teardrop shapes to create a top-heavy effect and balance out fuller jaws.--></p>
        </li>
    </ul>

    <div id="store-cover" style="display: none"></div>

    <div id="panel" style="display: none" data-colour="tortoise">
        <div id="frame" style="display: block">
            <div class="close">
                <span class="fa fa-times"></span>
            </div>
            <aside>
                <h1></h1>
                <h2></h2>
                <p class="desc"></p>
                <menu>
                    <div data-colour="tortoise" class="selected">
                        <div></div>
                        <p>Tortoise</p>
                    </div>
                    <div data-colour="black">
                        <div></div>
                        <p>Black</p>
                    </div>
                </menu>
                <p id="order-row"><button id="start-purchase">select</button></p>
            </aside>
            <div class="photo"></div>
            <menu>
                <div data-image="angle">
                    <div></div>
                    <p>Angle</p>
                </div>
                <div data-image="front">
                    <div></div>
                    <p>Front</p>
                </div>
                <div data-image="side">
                    <div></div>
                    <p>Side</p>
                </div>
                <div data-image="female">
                    <div></div>
                    <p>Female</p>
                </div>
                <div data-image="male">
                    <div></div>
                    <p>Male</p>
                </div>
            </menu>
        </div>

        <div id="sizes" style="display: none">
            <div class="back">
                <span class="fa fa-angle-left"></span> Back
            </div>
            <aside>
                <h1>Sizing</h1>
                <p class="desc">Just follow the graphic below and enter your measurement below to select your size.</p>
                <p class="desc">Don't worry, you can change this later.</p>
                <div id="enter-measurement">
                    <p>Enter measurement</p>
                    <div>
                        <input type="text" id="measurement-width">
                        <div>
                            <a href="#" id="millimetres" class="selected">millimetres</a>
                            <a href="#" id="inches">inches</a>
                        </div>
                    </div>
                </div>
                <p><%= image_tag 'measure.png', width: 150 %></p>
            </aside>
            <div id="three-up">
                <div>
                    <div>
                        <a href="#" class="small" data-size="small">
                            <%= image_tag 'size.png' %>
                            <span><button>S</button></span>
                        </a>
                        <a href="#" class="medium" data-size="medium">
                            <%= image_tag 'size.png' %>
                            <span><button>M</button></span>
                        </a>
                        <a href="#" class="large" data-size="large">
                            <%= image_tag 'size.png' %>
                            <span><button>L</button></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="form" style="display: none">
            <div class="back">
                <span class="fa fa-angle-left"></span> Back
            </div>
            <aside>
                <h1>Payment</h1>
                <div id="form-scroll">
                    <p class="desc">
                        We'd like to say thank you, without your preorder Tzukuri would not be possible. We'll be working hard to get them into your hands as soon as possible. You will be charged a $100 deposit immediately of the total price of $249. The remainder will be charged when your pair ships.
                    </p>
                    <form id="payment-form">
                        <div id="cc">
                            <p><input type="text" placeholder="full name" id="name"></p>
                            <p><input type="text" data-stripe="number" placeholder="credit card number"></p>
                            <p>
                                <select name="month" style="width: 66px" data-stripe="exp-month">
                                    <option value="1">Jan</option>
                                    <option value="2">Feb</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Apr</option>
                                    <option value="5">May</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Jul</option>
                                    <option value="8">Aug</option>
                                    <option value="9">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                                <select name="year" style="width: 65px" data-stripe="exp-year">
                                    <option>2014</option>
                                    <option>2015</option>
                                    <option>2016</option>
                                    <option>2017</option>
                                    <option>2018</option>
                                    <option>2019</option>
                                    <option>2020</option>
                                </select>
                                <input type="text" placeholder="CVC" data-stripe="cvc" style="width: 60px">
                            </p>
                        </div>
                        <div id="contact">
                            <p><input type="email" name="email" placeholder="email" id="email"></p>
                            <p><input type="text" name="address1" placeholder="address line 1" id="address1"></p>
                            <p><input type="text" name="address2" placeholder="address line 2" id="address2"></p>
                            <p><input type="text" name="state" placeholder="state" id="state"></p>
                            <p><input type="text" name="postcode" placeholder="postcode / zip" id="postcode"></p>
                            <p><input type="text" name="country" placeholder="country" id="country"></p>
                        </div>
                        <div id="submit"><button type="submit">preorder now</button><div id="payment-message"></div></div>
                    </form>
                </div>
            </aside>
            <div id="form-preview">
                <div id="preview-photo" style="background-image: url(<%= image_path('frames/fitzgerald/tortoise-angle.jpg') %>)"></div>
                <dl>
                    <dt>Frame</dt>
                    <dd id="preview-frame">Fitzgerald</dd>
                    <dt>Colour</dt>
                    <dd id="preview-colour">Tortoise</dd>
                    <dt>Size</dt>
                    <dd id="preview-size">Medium</dd>
                </dl>
            </div>
        </div>

        <div id="complete" style="display: none">
            <div class="close">
                <span class="fa fa-times"></span>
            </div>
            <aside>
                <h1>Preorder Complete</h1>
                <p class="desc">Thank you for preordering, we hope you are as excited as we are that you'll be one of the first in the world to own a pair of unloseable sunglasses in March.</p>
                <p class="desc">Order Reference: <span id="order-ref">1234</span></p>
            </aside>
            <article id="share-links" data-url="http://tzukuri.com/" data-not-panel="true">
                <div>
                    <div>
                        <div id="share-panel-content">
                            <h1>tell a friend</h1>
                            <p>With 1 in 2 people losing a pair of sunglasses in the first year of buying them, you probably know someone who's lost a pair. Please share Tzukuri with them.</p>
                            <div>
                                <div>
                                    <span><a href="#" class="fa fa-facebook" id="share-fb"></a></span>
                                    <span><a href="#" class="fa fa-twitter" id="share-twitter"></a></span>
                                    <span><a href="#" class="fa fa-pinterest" id="share-pinterest"></a></span>
                                </div>
                                <div>
                                    <span><a href="#" class="fa fa-tumblr" id="share-tumblr"></a></span>
                                    <span><a href="#" class="fa fa-envelope-square" id="share-email"></a></span>
                                    <span><a href="#" class="fa fa-link" id="share-link"></a></span>
                                </div>
                                <div>
                                    <span>&nbsp;</span>
                                    <span><input type="text" id="share-copy" style="display: none"></span>
                                    <span>&nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</main>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>
    $(function() {
        window.setShareURL('http://tzukuri.com/');
    });

    // payment processing
    <% if Rails.env.development? %>
        Stripe.setPublishableKey('pk_test_HWxqGZq4R2zTKm5915tgDas4');
    <% else %>
        Stripe.setPublishableKey('pk_live_VAzrbCZ5hRh2i3tXpoS9GL5I');
    <% end %>
    
    function stripeResponseHandler(status, response) {
        if (response.error) {
            $('#payment-message').text(response.error.message);
            $('#submit button').prop('disabled', false);
        } else {
            $('#payment-message').text("Charging your card...");
            $.post('/purchases', {
                email: $('#email').val(),
                name: $('#name').val(),
                address1: $('#address1').val(),
                address2: $('#address2').val(),
                state: $('#state').val(),
                postcode: $('#postcode').val(),
                country: $('#country').val(),
                token: response.id,
                frame: $('#panel').attr('data-frame'),
                colour: $('#panel').attr('data-colour'),
                size: $('#panel').attr('data-size')
            }, function(data, status) {
                if (data.success) {
                    $('#order-ref').text(data.ref);
                    $('#payment-message').text('');
                    $('#form').fadeOut();
                    $('#complete').fadeIn();
                } else {
                    if (data.reason)
                        $('#payment-message').text(data.reason);
                    else
                        $('#payment-message').text('Sorry, an unknown error occurred.');
                    $('#submit button').prop('disabled', false);
                }
            }, 'json').fail(function() {
                $('#payment-message').text('Sorry, an unknown error occurred. Please try again later.');
            });
        }
    }
    
    $('#payment-form').submit(function(event) {
        $('#submit button').prop('disabled', true);
        $('#payment-message').text("Checking your card details...");
        Stripe.card.createToken($(this), stripeResponseHandler);
        event.preventDefault();
    });
</script>
