<main>
    <article id="unforgettable">
        <div class="background"><div class="image" style="background-image: url(<%= image_url 'phoneonwood2.png' %>)"></div></div>
        <div class="panel">
            <div class="content">
                <h1>Unforgettable.</h1>
                <p>If you leave your Tzukuris behind, the app sends you alerts at a 5, 10 and 15 metre distances unless you clear one of the notifications. They’ll automatically be turned off if you’re at home or at work.</p>
                <p><a href="#" class="share"><%= image_tag 'share.png' %>Share</a></p>
            </div>
        </div>
    </article>

    <article id="solar">
        <div class="panel">
            <div class="content">
                <h1>SOLAR POWERED. <br> BATTERY EFFICIENT.</h1>
                <p>Tzukuris use Bluetooth Low Energy, a new technology that draws very little power. This means the solar cells can keep it charged and using the app won't drain your iPhones battery.</p>
                <%= image_tag 'cropped.jpg', width: 960, height: 436 %>
            </div>
        </div>
    </article>

    <article id="easily-found">
        <div class="panel">
            <div class="background"><div class="right image" style="background-image: url(<%= image_url 'mainscreen.png' %>)"></div></div>
            <div class="content">
                <h1>Easily <br> found.</h1>
                <!-- <%= image_tag 'frames/atticus/cropped.jpg', width: 960, height: 436 %> -->
                <p>If you misplace your Tzukuris at home, just open the app. It’ll show you exactly how far away they are to help you find them. If they’re not in range, it’ll show you their last location on a map.</p>
                <p><a href="#" class="share"><%= image_tag 'share.png' %>Share</a></p>
            </div>
        </div>
    </article>

    <article id="more">
        <div class="panel">
            <div class="content">
                <h1>MORE THAN UNLOSEABLE.</h1>
                <p>Imagine sunglasses that could tell your friends you’re close by. Or glasses that could turn on the lights if you walk into a room. This is what Tzukuri could be when the Tzukuri API is released to developers mid-2015. Unloseable is just the start.</p>
                <%= image_tag 'graphic.jpg', width: 960, height: 436 %>
            </div>
        </div>
    </article>

    <!-- <article id="two-up">
        <div class="background" style="background-image: url(<%= image_url 'graphic.jpg' %>)"></div>
    </article> -->

    <article id="remaining">
        <div>
            <dl>
                <dd>1200</dd>
                <dt>Remaining</dt>
            </dl>
            <!-- <a href="#" class="button">Preorder</a> -->
            <footer>
                Designed by Tzukuri &copy; 2014
                <a href="/legal">legal</a>
                <a href="/faq">faq</a>
                <a href="/contact">contact</a>
                <a href="/about">about</a>
            </footer>
        </div>
    </article>
</main>
