<%= stylesheet_link_tag 'pages/the-range', media: 'all' %>

<%= render 'layouts/action_bar', { :type => "compact" } %>

<div class="main">
  <!-- designed -->
  <div class="panel" id="designed">
    <div class="header">
      <div class="bg photo"></div>
      <div class="bg gradient"></div>
      <div class="container content">
        <div>
          <h1>two beautiful frames</h1>
          <h2>designed for everyday comfort</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <p>Our two frames are designed to be comfortable to wear all day, and suit a wide variety of face shapes.</p>
      <div class="details" id="details-buy">
        <p>Free shipping. Free prescriptions. Free returns for 20 days.<br>All frames including lenses <em>$485 AUD</em>.</p>
        <p>
          <a href="/buy"><button class="alternate tz-track" data-category="unlosable-glasses" data-event="buy-now-click">buy now &nbsp; &rarr;</button></a>
        </p>
      </div>

      <hr id="model-divider"/>

      <div class="row" id="range">
        <div class="six columns" id="ive">
          <h1 class="frame-head">Ive</h1>

          <div class="frame-spec">
            <p class="spec">Single Vision Prescription or Non-Prescription</p>
            <p class="spec">Matte Black Finish</p>
            <p class="spec">49mm Lens</p>
          </div>

          <div class="model-detail top">
            <%= image_tag 'frames/ive/ive_black_optical_flat.png' %>
            <p class="bold">Optical</p>
            <p class="spec">Prescription Reading, Distance, or Non-Prescription lenses</p>
            <br/>
            <a href="/buy?frame=Ive&utility=Optical"><button class="alternate tz-track"  data-category="the-range" data-event="buy-ive-optical">buy now &nbsp; &rarr;</button></a>
          </div>

          <div class="model-detail">
            <%= image_tag 'frames/ive/ive_black_sun_flat.png' %>
            <p class="bold">Sun</p>
            <p class="spec">Prescription Distance or Non-Prescription Lenses</p>
            <p class="spec">Polarised Brown Lens</p>
            <br/>
            <a href="/buy?frame=Ive&utility=Sun"><button class="alternate tz-track"  data-category="the-range" data-event="buy-ive-sun">buy now &nbsp; &rarr;</button></a>
          </div>
        </div>
        <div class="six columns" id="ford">
          <h1 class="frame-head">Ford</h1>

          <div class="frame-spec">
            <p class="spec">Single Vision Prescription or Non-Prescription</p>
            <p class="spec">Matte Black Finish</p>
            <p class="spec">49.5 or 51mm Lens</p>
          </div>

          <div class="model-detail top">
            <%= image_tag 'frames/ford/ford_black_optical_flat.png' %>
            <p class="bold">Optical</p>
            <p class="spec">Prescription Reading, Distance, or Non-Prescription lenses</p>
            <br/>
            <a href="/buy?frame=Ford&utility=Optical"><button class="alternate tz-track"  data-category="the-range" data-event="buy-ford-optical">buy now &nbsp; &rarr;</button></a>
          </div>

          <div class="model-detail">
            <%= image_tag 'frames/ford/ford_black_sun_flat.png' %>
            <p class="bold">Sun</p>
            <p class="spec">Prescription Distance or Non-Prescription Lenses</p>
            <p class="spec">Polarised Brown Lens</p>
            <br/>
            <a href="/buy?frame=Ford&utility=Sun"><button class="alternate tz-track"  data-category="the-range" data-event="buy-ford-sun">buy now &nbsp; &rarr;</button></a>
          </div>
        </div>
      </div>

      <div class="row" id="all-prescription">
        <p>All prescription lenses come with back anti-reflective coating, and a scratch resistant hard coat.</p>
      </div>

    </div>
  </div>

  <!-- whats in the box -->
  <div class="u-full-width" id="in-the-box">
    <div class="container">
      <h1>what's included</h1>
      <div class="row">
        <div class="four columns">
          <%= image_tag 'glasses.png', id: 'unlosable' %>
        </div>
        <div class="four columns">
          <%= image_tag 'microfibre.png', id: 'cloth' %>
        </div>
        <div class="four columns">
          <%= image_tag "dock_cable.png", id: 'charge' %>
        </div>
      </div>

      <div class="row">
        <div class="four columns">
          <p class="bold">Unlosable Glasses</p>
        </div>
        <div class="four columns">
          <p class="bold">Microfibre Cloth</p>
        </div>
        <div class="four columns">
          <p class="bold">Charger & Cable</p>
        </div>
      </div>
    </div>
  </div>

  <!-- tech specficiations -->
  <div class="u-full-width" id="specifications">
    <div class="container">
      <h1>technical specifications</h1>
      <div class="row">
      <div class="four columns">
        <!--  whats included -->
        <article>
          <p class="bold">What's Included</p>
          <ul>
            <li>Unlosable glasses</li>
            <li>Charging cable</li>
            <li>Charging dock</li>
            <li>Microfibre cleaning cloth</li>
            <li>Documentation</li>
          </ul>
        </article>

        <!-- battery and power -->
        <article>
          <p class="bold">Battery and Power</p>
          <p>
            Battery life up to 30 days. Battery life and charge cycles vary with use, settings, and other factors; actual results will vary. The Tzukuri app will notify you when your glasses require charging.
          </p>
          <ul>
            <li>Battery type: Silver Oxide</li>
            <li>Charge time: Three to four hours</li>
          </ul>
        </aticle>
      </div>
      <div class="four columns">

        <!-- materials -->
        <article>
          <p class="bold">Materials</p>
          <ul>
            <li>Frames: High quality, precision-milled cellulose acetate.</li>
            <li>Non-Prescription Sun: Brown polarised, hand cut, 100% UV protection.</li>
            <li>Prescription Sun: Brown polarised single vision, hand cut, 100% UV protection, back anti-reflective coating, hard coat.</li>
            <li>Prescription Optical: single vision, hand cut, back anti-reflective coating, hard coat.</li>
          </ul>
        </article>

        <!-- environmental requirements -->
        <article>
          <p class="bold">Environmental Requirements</p>
          <ul>
            <li>Operating temperature: <span style="white-space: nowrap">-10° to 45° C</span></li>
            <li>Maximum operating altitude: 9,144m</li>
          </ul>
        </article>
      </div>
      <div class="four columns">


        <!-- syncing and notifications -->
        <article>
          <p class="bold">Bluetooth and Notifications</p>
          <p>Each pair of Tzukuris connect to your iPhone using wireless Bluetooth Low Energy. Some features will require you to grant access to Location Services, Notifications and Motion & Fitness to function correctly. </p>
          <ul>
            <li>Bluetooth range: Up to 15m</li>
            <li>Requires iPhone 5 or later running iOS 9 and above.</li>
            <li>Compatible with: iPhone 5, iPhone 5C, iPhone SE, iPhone 6, iPhone 6 Plus, iPhone 6s, iPhone 6s Plus, iPhone 7, iPhone 7 Plus</p>
          </ul>
        </article>
      </div>
    </div>
    </div>
  </div>

  <%= render partial: 'layouts/cta' %>
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'layouts/cta' %>
  <%= stylesheet_link_tag 'layouts/cta' %>
<% end %>
