<%= stylesheet_link_tag 'pages/unlosable-glasses', media: 'all' %>

<%= render 'layouts/action_bar', type: '' %>

<div class="main">
  <div class="header">
    <div class="bg photo"></div>
    <div class="bg shade"></div>
    <div class="container content">
      <div>
        <h1>introducing unlosable glasses</h1>
        <h2>beautifully handmade glasses you won't lose</h2>
      </div>
    </div>
  </div>

  <div class="large container">
    <p id="intro">Sealed seamlessly inside every frame is the world's smallest Bluetooth chip to help you find your glasses when they're lost, and notify you if you leave them behind.</p>
    <%= image_tag 'unlosable/fords.png', id: 'fords' %>

    <div class="three-features">
      <div style="background-image: url(<%= image_url('unlosable/3up1.jpg') %>);">
        <div class="gradient"></div>
        <h1><span>1</span></h1>
        <p>See their location on a map</p>
      </div>
      <div style="background-image: url(<%= image_url('unlosable/3up2.jpg') %>)">
        <div class="gradient"></div>
        <h1><span>2</span></h1>
        <p>Be notified if you forget them</p>
      </div>
      <div style="background-image: url(<%= image_url('unlosable/3up3.jpg') %>)">
        <div class="gradient"></div>
        <h1><span>3</span></h1>
        <p>Get help finding them if they're lost</p>
      </div>
    </div>

    <div id="the-range">
      <%= image_tag 'unlosable/box.jpg', id: 'box' %>
      <div id="range">
        <p>
          Two classic shapes to suit all faces.<br>
          Available in sun and optical.
        </p>
        <p>
          <a href="/the-range"><button class="alternate">see the range &nbsp; &rarr;</button></a>
        </p>
      </div>
      <div id="gallery">
        <div>
          <%= image_tag 'unlosable/gallery-1.jpg' %>
          <div>
            <%= image_tag 'unlosable/gallery-2.jpg' %>
            <%= image_tag 'unlosable/gallery-3.jpg' %>
          </div>
        </div>
        <p>
          <a href="/gallery"><button class="alternate">view gallery &nbsp; &rarr;</button></a>
        </p>
      </div>
    </div>
  </div>

  

  <div id="easy-to-use">
    <div class="row container">
      <div class="four columns">
        <h1>Great to wear.<br>Easy to use.</h1>
        <p>Tzukuris look just like normal glasses - put them on and no one can tell they're smart.</p>
        <p>Because they're always powered all you need to do is put them on to use them. No waiting, no apps, just use them like normal glasses.</p>
      </div>
      <div class="four columns">
        <ul style="padding-top: 15px;">
          <li><i class="pe-7s-glasses" style="font-size: 40px; margin-bottom: 0px"></i>beautiful frames, no visible tech</li>
          <li><i class="pe-7s-power" style="font-size: 35px; margin-bottom: 7px"></i>always on, no buttons to press</li>
          <li><i class="pe-7s-smile" style="font-size: 36px; margin-bottom: 7px"></i>just put them on to use</li>
          <li><i class="pe-7s-bluetooth" style="font-size: 37px; margin-bottom: 8px"></i>automatically connect to your phone</li>
        </ul>
      </div>
      <div class="four columns" style="text-align: center">
        <%= image_tag 'unlosable/wall.jpg', id: 'wall' %>
      </div>
    </div>
  </div>

  <div id="designed-to-be-useful">
    <div class="bg"></div>
    <div class="row container">
      <div class="four columns">&nbsp;</div>
      <div class="four columns">
        <ul style="padding-top: 40px;">
          <li><i class="pe-7f-bluetooth" style="font-size: 35px; margin-bottom: 8px"></i>location is updated when connected</li>
          <li><i class="pe-7f-map-marker" style="font-size: 35px; margin-bottom: 7px"></i>see the current or last known<br>location of your glasses</li>
          <li><i class="pe-7f-comment" style="font-size: 40px; margin-bottom: 7px"></i>be notified when they disconnect<br>as you walk away</li>
          <li><i class="pe-7f-search" style="font-size: 36px; margin-bottom: 7px"></i>locate mode helps you find them</li>
        </ul>
      </div>
      <div class="four columns" style="text-align: center">
        <h1>Designed to be useful</h1>
        <p>We've all done it, or know someone who has - forgotten a pair of glasses when we're out.</p>
        <p>Rather than build in useless features, we focused on making Tzukuris 'unlosable' to keep them useful.</p>
        <p>The Tzukuri app has 3 key features to help you.</p>
        <p>
          <a href="/the-app"><button>more about the app &nbsp; &rarr;</button></a>
        </p>
      </div>
    </div>
  </div>

  <div id="advanced-manufacturing">
    <div class="container">
      <div class="six columns">
        <h1>Smart glasses,<br>smart manufacturing.</h1>
        <p>The key to making Tzukuris look like normal glasses is our advanced manufacturing.</p>
        <p>We take our miniaturised hardware (using components sized for space) and fuse it directly into each frame.</p>
        <p>Even the battery is special - silver zinc batteries are chemically free from the overheating issues that affect Lithium Ion.</p>
        <p>
          <a href="/intelligently-made"><button class="alternate">more about manufacturing &nbsp; &rarr;</button></a>
        </p>
      </div>
      <div class="six columns">
        <ul style="padding-top: 75px;">
          <li><i class="pe-7s-like2" style="font-size: 40px; margin-bottom: 0px"></i>handmade in Sydney</li>
          <li><i class="pe-7s-science" style="font-size: 35px; margin-bottom: 7px"></i>patent pending manufacturing process</li>
          <li><i class="pe-7s-rocket" style="font-size: 36px; margin-bottom: 7px"></i>miniature, space size electronics</li>
          <li><i class="pe-7s-battery" style="font-size: 37px; margin-bottom: 8px"></i>silver zinc battery for safety</li>
        </ul>
      </div>
    </div>
    <div class="container">
      <%= image_tag 'unlosable/beacon.jpg', id: 'beacon' %>
    </div>
  </div>

  <!--<div class="container"><hr/></div>

  <div class="panel container" id="video">
    <h1>see how they work</h1>
    <iframe src="https://www.youtube.com/embed/dGlKZZ6DsaM?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="container"><hr/></div> -->

  <div id="little-things">
      <div class="container">
        <h1>little things</h1>
        <h2 class="h-sm">for everyday use</h2>

        <div class="row">
          <div class="three columns"><br/></div>
          <div class="two columns">
            <%= image_tag 'icons/hypoallergenic.png' %>
            <br/><br/>
            <p>Hypoallergenic</p>
          </div>
          <div class="two columns">
            <%= image_tag 'icons/waterproof.png' %>
            <br/><br/>
            <p>Waterproof</p>
          </div>
          <div class="two columns">
            <%= image_tag 'icons/battery.png' %>
            <br/><br/>
            <p>Rechargeable<br>30 day battery</p>
          </div>
          <div class="three columns"></div>
        </div>
      </div>
    </div>

    <%= render partial: 'layouts/cta' %>
</div>


<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'layouts/cta' %>
  <%= stylesheet_link_tag 'layouts/cta' %>
  <link rel="stylesheet" media="screen" href="/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
  <link rel="stylesheet" media="screen" href="/fonts/pe-icon-7-filled/css/pe-icon-7-filled.css">
<% end %>
