<%= stylesheet_link_tag 'pages/unlosable-glasses', media: 'all' %>

<%= render 'layouts/action_bar' %>

<div class="main">
  <!-- the range -->
  <div class="panel" id="the-range">
    <div class="container">
      <div class="row">
        <h1>introducing unlosable glasses</h1>
        <h2 class="h-sm">beautifully handmade glasses you won't lose</h2>
        <p>Seamlessly sealed inside every Tzukuri frame is the world's smallest Bluetooth device.</p>
      </div>
      <div class="row">
        <div class="six columns left-row">
          <%= image_tag 'frames/ford/ford_black_optical_flat.png' %>
        </div>
        <div class="six columns right-row">
          <%= image_tag 'frames/ive/ive_black_optical_flat.png' %>
        </div>
      </div>
    </div>
  </div>

  <!-- separator -->
  <div class="container"><hr/></div>

  <!-- timely intelligence -->
  <div class="panel" id="timely-intelligence">
    <div class="container">
      <h1>timely intelligence</h1>
      <h2 class="h-sm">served by the Tzukuri iOS app</h2>

      <div class="row">
        <div class="four columns" id="remember">
          <%= image_tag 'screenshots/home.png' %>
          <p>Remembers where you left your glasses.</p>
        </div>
        <div class="four columns" id="notification">
          <%= image_tag 'screenshots/notification.png' %>
          <p>Lets you know when you've left your glasses behind.</p>
        </div>
        <div class="four columns" id="distancing">
          <%= image_tag 'screenshots/locate.png' %>
          <p>Calculates the distance to your glasses.</p>
        </div>
      </div>

      <div class="row" id="app-store">
        <a href="https://itunes.apple.com/au/app/tzukuri/id1056987592?ls=1&mt=8" target="_blank"><%= image_tag 'other/app_store.png' %></a>
      </div>
    </div>
  </div>

  <!-- separator -->
  <div class="container"><hr/></div>

  <!-- beautifully light -->
  <div class="panel" id="beautifully-light">
    <div class="container">
      <h1>beautifully light</h1>
      <h2 class="h-sm">handmade in Sydney</h2>
      <p>Even with 39 electronic components hidden inside, every pair weighs just 26.5 grams and is superbly comfortable to wear all day long.</p>
      <%= image_tag 'glasses/ive-side.jpg' %>
    </div>
  </div>

  <!-- visual indulgence -->
  <div class="panel u-full-width" id="visual-indulgence">
    <div class="container">
      <div class="six columns">
        <h1>visual indulgence</h1>
        <h2 class="h-sm">provided by Carl Zeiss Vision</h2>
        <p>By using Columbia Resin #39 for our lenses, we deliver 98% optical clarity without the weight of glass. Treat your eyes and face today. Our sun lenses are all:</p>
        <br/>
        <ul>
          <li>100% UVA/UVB protection</li>
          <li>Polarised</li>
          <li>Anti-scratch</li>
          <li>Anti-reflective</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- balancing act -->
  <div class="panel" id="balancing-act">
    <div class="container">
      <%= image_tag 'glasses/ive-profile-charger.jpg' %>

      <h1>balancing act</h1>
      <h2 class="h-sm">for supreme comfort</h2>
      <p>By weighting the back of the glasses with electronics we pivot the frame off your nose so they feel lighter and are less likely to leave pesky red marks.</p>
    </div>
  </div>

  <!-- separator -->
  <div class="container"><hr/></div>

  <!-- little things -->
  <div class="panel" id="little-things">
      <div class="container">
        <h1>little things</h1>
        <h2 class="h-sm">for everyday use</h2>

        <div class="row">
          <div class="three columns"><br/></div>
          <div class="two columns">
            <%= image_tag 'icons/hypoallergenic.png' %>
            <br/><br/>
            <p>Hypoallergenic</p>
          </div>
          <div class="two columns">
            <%= image_tag 'icons/waterproof.png' %>
            <br/><br/>
            <p>Waterproof</p>
          </div>
          <div class="two columns">
            <%= image_tag 'icons/battery.png' %>
            <br/><br/>
            <p>Up to 30 day battery life</p>
          </div>
          <div class="three columns"></div>
        </div>
      </div>
    </div>

  <!-- separator -->
  <div class="container"><hr/></div>

  <!-- call to action -->
  <div class="panel" id="cta">
    <div class="container">
      <h1>buy a pair today</h1>
      <h2 class="h-sm">your very own unlosable glasses</h2>
      <a href="/try-them-on"><button class="tz-track" data-category="buy-now" data-event="click">buy now &nbsp; &rarr;</button></a>
    </div>
  </div>
</div>
