<div id="login-container">

  <h1 id="tzukuri-head">T Z U K U R I</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, placeholder: "email address" %>
    </div>
    <div class="field">
      <%= f.password_field :password, placeholder: "password", autocomplete: "off" %>
    </div>

    <%= render "devise/shared/flash_messages" %>

    <div class="actions">
      <%= f.submit "sign in", id: "sign_in" %>
    </div>
  <% end %>

  <br/><br/>
  <%= render "devise/shared/links" %>
</div>

<div id="main-map" class="blur"></div>

<!-- JAVASCRIPT -->
<script>
  // initialise a simple map
  tzukuri.map.inject({
    element: 'main-map',
    disableControls: true
  })
</script>
