<div class="row state-machine" id="<%= @entry.time.hour if defined? @entry %>">
  <div class="two columns time-col <%= @entry.type if defined? @entry %>">
    <p class="head">TIME</p>
    <h3 class="entry-time"><%= @entry.time.in_time_zone('Australia/Sydney').strftime('%l:%M:%S %p') if defined? @entry %></h3>
  </div>

  <div class="two columns">
    <p class="head"><%= @entry.type.upcase if defined? @entry %></p>
    <h3 class="wordwrap entry-machine"><%= @entry.value.machine if defined? @entry %></h3>
  </div>

  <div class="five columns">
    <p class="head">TRANSITION</p>
    <h3 class="entry-from-to"><%= @entry.value.from if defined? @entry %> > <%= @entry.value.to if defined? @entry %></h3>
  </div>

  <div class="three columns">
    <p class="head">DETAIL</p>
    <p class="entry-event">Event: <%= @entry.value.event.titleize if defined? @entry %></p>
  </div>
</div>
