<div class="container" id="diagnostic-timeline" data-token="<%= params[:token] %>" data-date="<%= params[:date] %>">

  <!-- aggregate values -->
  <div id="aggregates">
    <h2><%= @data[:aggregates][:start_time].in_time_zone('Australia/Sydney').strftime('%A, %B %e %Y') %></h2>
    <p><%= @data[:aggregates][:start_time].in_time_zone('Australia/Sydney').strftime('%l:%M %p') %> - <%= @data[:aggregates][:end_time].in_time_zone('Australia/Sydney').strftime('%l:%M %p') %></p>

    <div class="row">
      <div class="three columns summary-block">
        <h2><%= @data[:aggregates]["bleDisconnected"] || 0 %></h2>
        <h3>Disconnect Events</h3>
      </div>
      <div class="three columns summary-block">
        <h2><%= @data[:aggregates]["notificationDisplayed"] || 0 %></h2>
        <h3>Notifications Displayed</h3>
      </div>
      <div class="three columns summary-block">
        <h2><%= @data[:aggregates][:total_entries] || 0 %></h2>
        <h3>Total Entries</h3>
      </div>
      <div class="three columns summary-block">
        <h2><%= @data[:aggregates]["appDidBecomeActive"] || 0 %></h2>
        <h3>App Opens</h3>
      </div>
    </div>
  </div>


  <div id="navigation">
    <p>Jump to hour:</p>
    <% @hours.each do |hour| %>
      <a href="#<%= hour %>"><%= hour %>:00</a> |
    <% end %>
  </div>

  <hr/>

  <!-- timeline values -->
  <div id="timeline">

    <!-- start of file marker -->
    <div class="row start-marker">
      <div class="two columns time-col">
        <p class="head">TIME</p>
        <h3><%= @data[:aggregates][:start_time].in_time_zone('Australia/Sydney').strftime('%l:%M %p') %></h3>
      </div>

      <div class="ten columns content-col">
        <p class="head">BEGIN</p>
        <h3>Diagnostics Start</h3>
      </div>
    </div>

    <% @data[:timeline_items].each_with_index do |timeline_item, index| %>

      <div class="timeline_item item-<%= timeline_item.index %>">
        <% if timeline_item.preceding? %>
          <div class="row expand-row">
            <div class="two columns">
              <a href="#" class="expand" data-start="<%= @data[:timeline_items][index - 1].index %>" data-end="<%= timeline_item.index %>">+ <%= timeline_item.preceding %> entries</a>
            </div>
            <div class="eight columns">&nbsp;</div>
          </div>
        <% end %>
        <%= render timeline_item.entry.to_partial_path, :@entry => timeline_item.entry %>
      </div>

    <% end %>

    <!-- end of file marker -->
    <div class="row end-marker">
      <div class="two columns time-col">
        <p class="head">TIME</p>
        <h3><%= @data[:aggregates][:end_time].in_time_zone('Australia/Sydney').strftime('%l:%M %p') %></h3>
      </div>

      <div class="ten columns">
        <p class="head content-col">END</p>
        <h3>Diagnostics Finish</h3>
      </div>
    </div>

  </div>

</div>

<!-- templates -->
<template id="entry-generic">
  <%= render 'entry_generic' %>
</template>

<template id="entry-location">
  <%= render 'entry_location' %>
</template>
