<table class="index_table index">
  <!-- table header -->
  <thead>
    <tr>
      <th>Index</th>
      <th class="col">Timestamp</th>
      <th class="col">Delta</th>
      <th class="col">Type</th>
      <th class="col">Value</th>
    </tr>
  </thead>

  <!-- table body -->
  <tbody>
    <% @entries.each_with_index do |entry, index| %>
      <tr>
        <td><%= entry.time.in_time_zone('Australia/Sydney').strftime('%l:%M:%S %p') %></td>
        <td><%= entry.raw_ts if index > 0 %></td>
        <td><%= entry.type %></td>
        <td>
            <% if entry.printable_value? %>
                <%= entry.value %>
            <% end %>
            <% if entry.varint_value? %>
                <%= entry.varint_value %>
            <% end %>
            <% if entry.float_value? %>
                <%= entry.float_value %>
            <% end %>
            <% if entry.type == 'userActivityData' %>
                <%= entry.user_activity_value.time.strftime('%H:%M:%S') %> <%= entry.user_activity_value.type_name %> (confidence: <%= entry.user_activity_value.confidence_name %>)
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
