<div id="login-container">

  <h1 id="tzukuri-head">T Z U K U R I</h1>
  <p id="subhead">Enter your new password to reset it</p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%# if @minimum_password_length %>
      <!-- <em>(<%#= @minimum_password_length %> characters minimum)</em><br /> -->
    <%# end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "New password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password" %>
  </div>

    <div id="flash-messages">
      <%= devise_error_messages! %>
    </div>

  <div id="actions" data-error="<%= devise_error_messages!.size > 0 %>">
    <%= f.submit "Reset Password", id: "change_password" %>
  </div>
<% end %>

<br/><br/>
<%= render "devise/shared/links" %>
</div>
