<%= stylesheet_link_tag 'users/passwords', media: 'all' %>

 <%= render 'layouts/site_header' %>

 <body>
   <div class="main">
     <div class="container panel" id="change-password">
       <h1>change your password</h1>
       <p>Enter a new password below.</p>

       <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>

          <%= f.label :password, "New Password" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "enter new password" %>

          <%= f.label :password_confirmation, "Password Confirmation" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm new password" %>

          <%= devise_error_messages! %>

          <%= f.submit "change my password", id: "password_reset" %>
       <% end %>

       <a href="/users/unlock/new">Didn't receive unlock instructions?</a>
     </div>
   </div>
 </body>

 <%= render 'layouts/site_footer' %>
