<%= stylesheet_link_tag 'users/passwords', media: 'all' %>
<%#= javascript_include_tag 'users/passwords', :defer => "defer" %>

 <%= render 'layouts/site_header' %>

 <body>
   <div class="main">
     <div class="container panel" id="forgot-password">
       <h1>forgot your password?</h1>
       <p>Enter your email address to reset your password.</p>
       <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.label :email, "Email Address" %>
          <%= f.email_field :email, autofocus: true, placeholder: "john@tzukuri.com" %>

          <%= devise_error_messages! %>

          <%= f.submit "send password reset instructions", id: "password_reset" %>
       <% end %>

       <a href="/users/unlock/new">Didn't receive unlock instructions?</a>
     </div>
   </div>
 </body>

 <%= render 'layouts/site_footer' %>
