<%= javascript_include_tag 'layouts/site_header', defer: 'defer' %>

<header class="u-full-width <%= 'no-bg' if ['spree/taxons', 'spree/products', 'spree/orders', 'spree/checkout'].include? params[:controller] %>">
  <div class="container">
      <a id="tzukuri" href="/">TZUKURI</a>
      <nav id="primary-nav">
        <a href="/unlosable-glasses" class="<%= 'selected' if params[:page] == 'unlosable-glasses' %>">unlosable glasses</a>
        <a href="/the-range" class="<%= 'selected' if params[:page] == 'the-range' %>">the range</a>
        <a href="/the-app" class="<%= 'selected' if params[:page] == 'the-app' %>">the app</a>
        <a href="/intelligently-made" class="<%= 'selected' if params[:page] == 'intelligently-made' %>">intelligently made</a>
        <a href="/shop" class="no-decoration" id="try-btn"><button class="tz-track" data-category="nav" data-event="buy-now-click">buy now</button></a>

        <!-- spree cart link -->
        <span id="link-to-cart" data-hook>
          <noscript>
            <%= link_to Spree.t(:cart), '/cart' %>
          </noscript>
        </span>
        <script>Spree.fetch_cart()</script>
      </nav>
      <div id="hamburger">
        <a class="fa fa-bars"></a>
      </div>
  </div>
</header>
