<!DOCTYPE html>
<html>
    <head>
        <title><%= "#{@page_title} | " if @page_title %>Tzukuri</title>
        <meta name="Description" content="<%= @page_desc %>">
        <meta charset="utf-8">
        <link rel="canonical" href="https://tzukuri.com<%= request.path %>">

        <%= stylesheet_link_tag 'core', media: 'all' %>
        <%= csrf_meta_tags %>

        <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="twitter:site" content="@tzukuri">

        <meta property="fb:app_id" content="311590038897709">
        <meta property="og:url" content="http://www.tzukuri.com<%= request.path %>">
        <meta property="og:description" content="Beautifully handmade glasses you won't lose.">
        <meta property="og:title" content="Unlosable Glasses">
        <meta property="og:image" content="http://tzukuri.com/og.png">
        <meta property="og:image:secure_url" content="https://tzukuri.com/og.png">

        <meta name="apple-mobile-web-app-capable" content="yes" />

        <!-- fullstory tracking -->
        <script>
          window['_fs_debug'] = false;
          window['_fs_host'] = 'www.fullstory.com';
          window['_fs_org'] = '39W4W';
          window['_fs_namespace'] = 'FS';
          (function(m,n,e,t,l,o,g,y){
              if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
              g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
              o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
              y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
              g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
              g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
              g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
              d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
              ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
          })(window,document,window['_fs_namespace'],'script','user');
        </script>

        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '185953661841619'); // Insert your pixel ID here.
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=185953661841619&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
        <script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="7a51c9bc3055421193f22e0801aac1c75aff58d1bd4d466aa747d00ea662294d",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};if(!o.noaa){z(b+"aa/"+t+'?'+p,false)};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
        <!-- Start of Woopra Code -->
        <script>
            (function(){
                    var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
            })("woopra");

            woopra.config({
                domain: 'tzukuri.com'
            });
            woopra.track();
        </script>
        <!-- End of Woopra Code -->
    </head>

    <body class="<%= params[:page] || controller_name %>">
        <!-- header -->
        <% if controller_name == "pages" || controller_name == "store" %>
            <%= render 'layouts/site_header' %>
        <% end %>

        <!-- content -->
        <%= yield %>

        <!-- footer -->
        <% if controller_name == "pages" || controller_name == "store" %>
            <%= render 'layouts/site_footer' %>
        <% end %>
    </body>

    <script src="https://cdn.ravenjs.com/3.14.2/raven.min.js"></script>
    <script>
        Raven.config('https://f6fea340882946bba108b769cc6bab88@sentry.io/163344').install()
    </script>


    <script>
      window.intercomSettings = {
        app_id: "y235xj6y"
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/y235xj6y';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

    <%= javascript_include_tag 'core' %>
    <%= yield :javascript_includes %>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-49901333-1', 'tzukuri.com');
        ga('require', 'displayfeatures');
        ga('require', 'ecommerce');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        adroll_adv_id = "ZMJUVQSZ35HKZHNQWOIXPA";
        adroll_pix_id = "I6HRSLE6RFE6VILHXOO3YS";
        (function () {
            var _onload = function(){
                if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
                if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            };
            if (window.addEventListener) {window.addEventListener('load', _onload, false);}
            else {window.attachEvent('onload', _onload)}
        }());
    </script>
    <script type="text/javascript">
      var _mfq = _mfq || [];
      (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/c4dbe7ce-a901-47c1-97be-eec671d88ff0.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
    <script type="text/javascript">
        (function() {
            var reactful_client_id="941597";
            window._rctfl = window._rctfl || {c: []}; window._rctfl.c.push(reactful_client_id);
            var el = document.createElement('script'); el.async = 1;
            el.src = "//visitor.reactful.com/dist/main.rtfl.js";
            document.getElementsByTagName('head')[0].appendChild(el);
        })();
    </script>
    <script type="text/javascript">
        var trackcmp_email = '';
        var trackcmp = document.createElement("script");
        trackcmp.async = true;
        trackcmp.type = 'text/javascript';
        trackcmp.src = '//trackcmp.net/visit?actid=649173215&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
        var trackcmp_s = document.getElementsByTagName("script");
        if (trackcmp_s.length) {
            trackcmp_s[0].parentNode.appendChild(trackcmp);
        } else {
            var trackcmp_h = document.getElementsByTagName("head");
            trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
        }
    </script>
</html>
